In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [26]:
data = pd.read_csv("../working_data.csv")

In [4]:
# data

Explored?

In [27]:
data.isna().sum()

Year                   0
ID                     0
HouseHoldID            0
communityID            0
province               0
city                   0
urban_nbs              0
age_cal                0
has_running_water      0
inhouse_shower_Bath    0
cooking_fuel_source    0
num_toilet             0
toilet_type_1          0
hyp                    0
diab                   0
mem_rel_dis            0
asthma                 0
rheumatism             0
cancer                 0
lund_dis               0
liver_dis              0
stomach_dis            0
main_toilet_type       0
sewage_sys             0
road_type              0
dtype: int64

In [28]:
data.duplicated().value_counts()

False    505
True     155
dtype: int64

Are they really Duplicates?

In [30]:
data.duplicated().value_counts()
data[data.duplicated(keep=False)].tail()

,Year,ID,HouseHoldID,communityID,province,city,urban_nbs,age_cal,has_running_water,inhouse_shower_Bath,...,mem_rel_dis,asthma,rheumatism,cancer,lund_dis,liver_dis,stomach_dis,main_toilet_type,sewage_sys,road_type
655,2013,105102244001,1051022440,1051022,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,61.0,1 Yes,3 No,...,1 Yes,2 No,2 No,2 No,2 No,2 No,2 No,4 Outside public toilet without water,1 Yes,1 Paved road
656,2013,105102244002,1051022440,1051022,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,66.0,1 Yes,3 No,...,2 No,2 No,1 Yes,2 No,2 No,2 No,2 No,4 Outside public toilet without water,1 Yes,1 Paved road
657,2013,105102244002,1051022440,1051022,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,66.0,1 Yes,3 No,...,1 Yes,2 No,2 No,2 No,2 No,2 No,2 No,4 Outside public toilet without water,1 Yes,1 Paved road
658,2013,105102244002,1051022440,1051022,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,66.0,1 Yes,3 No,...,2 No,2 No,1 Yes,2 No,2 No,2 No,2 No,4 Outside public toilet without water,1 Yes,1 Paved road
659,2013,105102244002,1051022440,1051022,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,66.0,1 Yes,3 No,...,1 Yes,2 No,2 No,2 No,2 No,2 No,2 No,4 Outside public toilet without water,1 Yes,1 Paved road

In [31]:
# data = data.drop_duplicates()

In [42]:
data.to_csv("./work_data.csv")

Encoding

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 660 non-null    int64
 1   ID                   660 non-null    int64
 2   HouseHoldID          660 non-null    int64
 3   communityID          660 non-null    int64
 4   province             660 non-null    object
 5   city                 660 non-null    object
 6   urban_nbs            660 non-null    object
 7   age_cal              660 non-null    float64
 8   has_running_water    660 non-null    object
 9   inhouse_shower_Bath  660 non-null    object
 10  cooking_fuel_source  660 non-null    object
 11  num_toilet           660 non-null    float64
 12  toilet_type_1        660 non-null    object
 13  hyp                  660 non-null    object
 14  diab                 660 non-null    object
 15  mem_rel_dis          660 non-null    object
 16  asthma               660 non-null    object
 17  rheumatism           660 non-null    object
 18  cancer               660 non-null    object
 19  lund_dis             660 non-null    object
 20  liver_dis            660 non-null    object
 21  stomach_dis          660 non-null    object
 22  main_toilet_type     660 non-null    object
 23  sewage_sys           660 non-null    object
 24  road_type            660 non-null    object
dtypes: float64(2), int64(4), object(19)
memory usage: 129.0+ KB

In [33]:
data.columns

Index(['Year', 'ID', 'HouseHoldID', 'communityID', 'province', 'city',
       'urban_nbs', 'age_cal', 'has_running_water', 'inhouse_shower_Bath',
       'cooking_fuel_source', 'num_toilet', 'toilet_type_1', 'hyp', 'diab',
       'mem_rel_dis', 'asthma', 'rheumatism', 'cancer', 'lund_dis',
       'liver_dis', 'stomach_dis', 'main_toilet_type', 'sewage_sys',
       'road_type'],
      dtype='object')

In [34]:
import pandas as pd

# Assuming you have the data in a pandas DataFrame called 'data'
# If the data is already loaded, you can skip the DataFrame creation and use your DataFrame directly

# Step 1: Create a dictionary to store the value counts for each variable
value_counts_dict = {}

# List of variables
variables = ['communityID', 'province', 'city', 'urban_nbs', 'age_cal', 'has_running_water', 'inhouse_shower_Bath','cooking_fuel_source', 'num_toilet', 'toilet_type_1', 'hyp', 'diab', 'mem_rel_dis', 'asthma','rheumatism', 'cancer', 'lund_dis', 'liver_dis', 'stomach_dis', 'main_toilet_type', 'sewage_sys', 'road_type']

# Step 2: Loop through each variable and calculate the value counts
for var in variables:
    value_counts_dict[var] = data[var].value_counts()
value_counts_dict
# # Step 3: Convert the dictionary to a pandas DataFrame
value_counts_df = pd.DataFrame(value_counts_dict)

# # Step 4: Print the DataFrame
value_counts_dict

{'communityID': 1040043    108
 1082592     60
 140311      56
 940041      44
 1051022     41
 140511      41
 140512      38
 1082593     33
 146431      29
 1053813     28
 1051021     25
 896763      22
 896762      22
 146432      19
 1051023     19
 1940373     18
 140313      18
 1940371     17
 1040041     13
 940042       4
 940043       4
 1040042      1
 Name: communityID, dtype: int64,
 'province': ÄÚÃÉ¹Å×ÔÖÎÇø        328
 ÔÆÄÏÊ¡              201
 ±±¾©                 52
 ÐÂ½®Î¬Îá¶û×ÔÖÎÇø     44
 Ìì½ò                 35
 Name: province, dtype: int64,
 'city': À¥Ã÷ÊÐ        153
 ºôºÍºÆÌØÊÐ    122
 ôÂ×±´¶ûÊÐ      93
 ÐË°²ÃË         85
 ±±¾©           52
 ÁÙ²×ÊÐ         48
 °¢¿ËËÕµØÇø     44
 Ìì½ò           35
 ³à·åÊÐ         28
 Name: city, dtype: int64,
 'urban_nbs': Urban    660
 Name: urban_nbs, dtype: int64,
 'age_cal': 70.0    62
 61.0    60
 60.0    57
 72.0    51
 68.0    50
 62.0    40
 74.0    38
 66.0    37
 63.0    37
 64.0    35
 65.0    29
 73.0    22
 67.0    21
 71.0    20
 76.0    19
 69.0    17
 75.0    15
 80.0    11
 78.0    11
 77.0    11
 83.0     6
 82.0     4
 79.0     2
 89.0     2
 88.0     1
 85.0     1
 81.0     1
 Name: age_cal, dtype: int64,
 'has_running_water': 1 Yes    404
 2 No     256
 Name: has_running_water, dtype: int64,
 'inhouse_shower_Bath': 2 Water heater installed by the household    314
 3 No                                         314
 2 Water Heater Installed by The Household     22
 3.0                                            6
 1 Hot water provided                           4
 Name: inhouse_shower_Bath, dtype: int64,
 'cooking_fuel_source': 2 Natural gas                  211
 5 Electric                     138
 6 crop residue/Wood burning    129
 4 Liquefied Petroleum Gas       82
 1 Coal                          59
 6 Crop residue/Wood burning     18
 6 Crop Residue/Wood Burning     12
 2 Natural Gas                   11
 Name: cooking_fuel_source, dtype: int64,
 'num_toilet': 1.0     431
 0.0     212
 2.0      12
 3.0       4
 11.0      1
 Name: num_toilet, dtype: int64,
 'toilet_type_1': 1 Toilet without a seat    632
 1 Toilet without A Seat     28
 Name: toilet_type_1, dtype: int64,
 'hyp': 2 No     466
 1 Yes    194
 Name: hyp, dtype: int64,
 'diab': 2 No     588
 1 Yes     72
 Name: diab, dtype: int64,
 'mem_rel_dis': 2 No     635
 1 Yes     25
 Name: mem_rel_dis, dtype: int64,
 'asthma': 2 No     636
 1 Yes     24
 Name: asthma, dtype: int64,
 'rheumatism': 2 No     478
 1 Yes    182
 Name: rheumatism, dtype: int64,
 'cancer': 2 No     652
 1 Yes      8
 Name: cancer, dtype: int64,
 'lund_dis': 2 No     578
 1 Yes     82
 Name: lund_dis, dtype: int64,
 'liver_dis': 2 No     629
 1 Yes     31
 Name: liver_dis, dtype: int64,
 'stomach_dis': 2 No     517
 1 Yes    143
 Name: stomach_dis, dtype: int64,
 'main_toilet_type': 4 Outside public toilet without water    246
 1 Inside toilet with water               240
 5 Open-air                                88
 3 Outside toilet with water               85
 2 Inside toilet without water              1
 Name: main_toilet_type, dtype: int64,
 'sewage_sys': 1 Yes    495
 2 No     165
 Name: sewage_sys, dtype: int64,
 'road_type': 1 Paved road         567
 3 Sand-stone road     93
 Name: road_type, dtype: int64}

In [35]:
variables = ['communityID', 'province', 'city','urban_nbs', 'age_cal', 'has_running_water','inhouse_shower_Bath','cooking_fuel_source', 'num_toilet', 'toilet_type_1', 'hyp', 'diab','mem_rel_dis', 'asthma', 'rheumatism', 'cancer', 'lund_dis','liver_dis', 'stomach_dis', 'main_toilet_type', 'sewage_sys','road_type']
for  var in variables:
    print(var)
    print("--------------------------------")
    print(data[var].value_counts())
    print("--------------------------------")

communityID
--------------------------------
1040043    108
1082592     60
140311      56
940041      44
1051022     41
140511      41
140512      38
1082593     33
146431      29
1053813     28
1051021     25
896763      22
896762      22
146432      19
1051023     19
1940373     18
140313      18
1940371     17
1040041     13
940042       4
940043       4
1040042      1
Name: communityID, dtype: int64
--------------------------------
province
--------------------------------
ÄÚÃÉ¹Å×ÔÖÎÇø        328
ÔÆÄÏÊ¡              201
±±¾©                 52
ÐÂ½®Î¬Îá¶û×ÔÖÎÇø     44
Ìì½ò                 35
Name: province, dtype: int64
--------------------------------
city
--------------------------------
À¥Ã÷ÊÐ        153
ºôºÍºÆÌØÊÐ    122
ôÂ×±´¶ûÊÐ      93
ÐË°²ÃË         85
±±¾©           52
ÁÙ²×ÊÐ         48
°¢¿ËËÕµØÇø     44
Ìì½ò           35
³à·åÊÐ         28
Name: city, dtype: int64
--------------------------------
urban_nbs
--------------------------------
Urban    660
Name: urban_nbs, dtype: int64
--------------------------------
age_cal
--------------------------------
70.0    62
61.0    60
60.0    57
72.0    51
68.0    50
62.0    40
74.0    38
66.0    37
63.0    37
64.0    35
65.0    29
73.0    22
67.0    21
71.0    20
76.0    19
69.0    17
75.0    15
80.0    11
78.0    11
77.0    11
83.0     6
82.0     4
79.0     2
89.0     2
88.0     1
85.0     1
81.0     1
Name: age_cal, dtype: int64
--------------------------------
has_running_water
--------------------------------
1 Yes    404
2 No     256
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
2 Water heater installed by the household    314
3 No                                         314
2 Water Heater Installed by The Household     22
3.0                                            6
1 Hot water provided                           4
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
2 Natural gas                  211
5 Electric                     138
6 crop residue/Wood burning    129
4 Liquefied Petroleum Gas       82
1 Coal                          59
6 Crop residue/Wood burning     18
6 Crop Residue/Wood Burning     12
2 Natural Gas                   11
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     431
0.0     212
2.0      12
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    632
1 Toilet without A Seat     28
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     466
1 Yes    194
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     588
1 Yes     72
Name: diab, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     635
1 Yes     25
Name: mem_rel_dis, dtype: int64
--------------------------------
asthma
--------------------------------
2 No     636
1 Yes     24
Name: asthma, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     478
1 Yes    182
Name: rheumatism, dtype: int64
--------------------------------
cancer
--------------------------------
2 No     652
1 Yes      8
Name: cancer, dtype: int64
--------------------------------
lund_dis
--------------------------------
2 No     578
1 Yes     82
Name: lund_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     629
1 Yes     31
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     517
1 Yes    143
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
4 Outside public toilet without water    246
1 Inside toilet with water               240
5 Open-air                                88
3 Outside toilet with water               85
2 Inside toilet without water              1
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    495
2 No     165
Name: sewage_sys, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road         567
3 Sand-stone road     93
Name: road_type, dtype: int64
--------------------------------

In [36]:
community_id = [1051023, 1082592, 140311, 940041, 1051022, 140511, 140512, 1053813, 1082593, 146431, 896762, 896763, 1051021, 146432, 1940371, 1940373, 140313, 1040043, 1040041, 940042, 940043, 1040042]
variables = ['has_running_water','inhouse_shower_Bath','cooking_fuel_source', 'num_toilet', 'toilet_type_1', 'hyp', 'diab','mem_rel_dis', 'asthma', 'rheumatism', 'cancer', 'lund_dis','liver_dis', 'stomach_dis', 'main_toilet_type', 'sewage_sys','road_type']
for i in community_id:
    print(f"id---{i}")
    for  var in variables:
        print(f"{var}")
        print("--------------------------------")
        print(data[var].value_counts())
        print("--------------------------------")

id---1051023
has_running_water
--------------------------------
1 Yes    404
2 No     256
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
2 Water heater installed by the household    314
3 No                                         314
2 Water Heater Installed by The Household     22
3.0                                            6
1 Hot water provided                           4
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
2 Natural gas                  211
5 Electric                     138
6 crop residue/Wood burning    129
4 Liquefied Petroleum Gas       82
1 Coal                          59
6 Crop residue/Wood burning     18
6 Crop Residue/Wood Burning     12
2 Natural Gas                   11
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     431
0.0     212
2.0      12
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    632
1 Toilet without A Seat     28
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     466
1 Yes    194
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     588
1 Yes     72
Name: diab, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     635
1 Yes     25
Name: mem_rel_dis, dtype: int64
--------------------------------
asthma
--------------------------------
2 No     636
1 Yes     24
Name: asthma, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     478
1 Yes    182
Name: rheumatism, dtype: int64
--------------------------------
cancer
--------------------------------
2 No     652
1 Yes      8
Name: cancer, dtype: int64
--------------------------------
lund_dis
--------------------------------
2 No     578
1 Yes     82
Name: lund_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     629
1 Yes     31
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     517
1 Yes    143
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
4 Outside public toilet without water    246
1 Inside toilet with water               240
5 Open-air                                88
3 Outside toilet with water               85
2 Inside toilet without water              1
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    495
2 No     165
Name: sewage_sys, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road         567
3 Sand-stone road     93
Name: road_type, dtype: int64
--------------------------------
id---1082592
has_running_water
--------------------------------
1 Yes    404
2 No     256
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
2 Water heater installed by the household    314
3 No                                         314
2 Water Heater Installed by The Household     22
3.0                                            6
1 Hot water provided                           4
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
2 Natural gas                  211
5 Electric                     138
6 crop residue/Wood burning    129
4 Liquefied Petroleum Gas       82
1 Coal                          59
6 Crop residue/Wood burning     18
6 Crop Residue/Wood Burning     12
2 Natural Gas                   11
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     431
0.0     212
2.0      12
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    632
1 Toilet without A Seat     28
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     466
1 Yes    194
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     588
1 Yes     72
Name: diab, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     635
1 Yes     25
Name: mem_rel_dis, dtype: int64
--------------------------------
asthma
--------------------------------
2 No     636
1 Yes     24
Name: asthma, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     478
1 Yes    182
Name: rheumatism, dtype: int64
--------------------------------
cancer
--------------------------------
2 No     652
1 Yes      8
Name: cancer, dtype: int64
--------------------------------
lund_dis
--------------------------------
2 No     578
1 Yes     82
Name: lund_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     629
1 Yes     31
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     517
1 Yes    143
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
4 Outside public toilet without water    246
1 Inside toilet with water               240
5 Open-air                                88
3 Outside toilet with water               85
2 Inside toilet without water              1
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    495
2 No     165
Name: sewage_sys, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road         567
3 Sand-stone road     93
Name: road_type, dtype: int64
--------------------------------
id---140311
has_running_water
--------------------------------
1 Yes    404
2 No     256
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
2 Water heater installed by the household    314
3 No                                         314
2 Water Heater Installed by The Household     22
3.0                                            6
1 Hot water provided                           4
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
2 Natural gas                  211
5 Electric                     138
6 crop residue/Wood burning    129
4 Liquefied Petroleum Gas       82
1 Coal                          59
6 Crop residue/Wood burning     18
6 Crop Residue/Wood Burning     12
2 Natural Gas                   11
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     431
0.0     212
2.0      12
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    632
1 Toilet without A Seat     28
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     466
1 Yes    194
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     588
1 Yes     72
Name: diab, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     635
1 Yes     25
Name: mem_rel_dis, dtype: int64
--------------------------------
asthma
--------------------------------
2 No     636
1 Yes     24
Name: asthma, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     478
1 Yes    182
Name: rheumatism, dtype: int64
--------------------------------
cancer
--------------------------------
2 No     652
1 Yes      8
Name: cancer, dtype: int64
--------------------------------
lund_dis
--------------------------------
2 No     578
1 Yes     82
Name: lund_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     629
1 Yes     31
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     517
1 Yes    143
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
4 Outside public toilet without water    246
1 Inside toilet with water               240
5 Open-air                                88
3 Outside toilet with water               85
2 Inside toilet without water              1
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    495
2 No     165
Name: sewage_sys, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road         567
3 Sand-stone road     93
Name: road_type, dtype: int64
--------------------------------
id---940041
has_running_water
--------------------------------
1 Yes    404
2 No     256
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
2 Water heater installed by the household    314
3 No                                         314
2 Water Heater Installed by The Household     22
3.0                                            6
1 Hot water provided                           4
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
2 Natural gas                  211
5 Electric                     138
6 crop residue/Wood burning    129
4 Liquefied Petroleum Gas       82
1 Coal                          59
6 Crop residue/Wood burning     18
6 Crop Residue/Wood Burning     12
2 Natural Gas                   11
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     431
0.0     212
2.0      12
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    632
1 Toilet without A Seat     28
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     466
1 Yes    194
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     588
1 Yes     72
Name: diab, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     635
1 Yes     25
Name: mem_rel_dis, dtype: int64
--------------------------------
asthma
--------------------------------
2 No     636
1 Yes     24
Name: asthma, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     478
1 Yes    182
Name: rheumatism, dtype: int64
--------------------------------
cancer
--------------------------------
2 No     652
1 Yes      8
Name: cancer, dtype: int64
--------------------------------
lund_dis
--------------------------------
2 No     578
1 Yes     82
Name: lund_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     629
1 Yes     31
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     517
1 Yes    143
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
4 Outside public toilet without water    246
1 Inside toilet with water               240
5 Open-air                                88
3 Outside toilet with water               85
2 Inside toilet without water              1
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    495
2 No     165
Name: sewage_sys, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road         567
3 Sand-stone road     93
Name: road_type, dtype: int64
--------------------------------
id---1051022
has_running_water
--------------------------------
1 Yes    404
2 No     256
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
2 Water heater installed by the household    314
3 No                                         314
2 Water Heater Installed by The Household     22
3.0                                            6
1 Hot water provided                           4
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
2 Natural gas                  211
5 Electric                     138
6 crop residue/Wood burning    129
4 Liquefied Petroleum Gas       82
1 Coal                          59
6 Crop residue/Wood burning     18
6 Crop Residue/Wood Burning     12
2 Natural Gas                   11
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     431
0.0     212
2.0      12
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    632
1 Toilet without A Seat     28
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     466
1 Yes    194
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     588
1 Yes     72
Name: diab, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     635
1 Yes     25
Name: mem_rel_dis, dtype: int64
--------------------------------
asthma
--------------------------------
2 No     636
1 Yes     24
Name: asthma, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     478
1 Yes    182
Name: rheumatism, dtype: int64
--------------------------------
cancer
--------------------------------
2 No     652
1 Yes      8
Name: cancer, dtype: int64
--------------------------------
lund_dis
--------------------------------
2 No     578
1 Yes     82
Name: lund_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     629
1 Yes     31
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     517
1 Yes    143
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
4 Outside public toilet without water    246
1 Inside toilet with water               240
5 Open-air                                88
3 Outside toilet with water               85
2 Inside toilet without water              1
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    495
2 No     165
Name: sewage_sys, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road         567
3 Sand-stone road     93
Name: road_type, dtype: int64
--------------------------------
id---140511
has_running_water
--------------------------------
1 Yes    404
2 No     256
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
2 Water heater installed by the household    314
3 No                                         314
2 Water Heater Installed by The Household     22
3.0                                            6
1 Hot water provided                           4
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
2 Natural gas                  211
5 Electric                     138
6 crop residue/Wood burning    129
4 Liquefied Petroleum Gas       82
1 Coal                          59
6 Crop residue/Wood burning     18
6 Crop Residue/Wood Burning     12
2 Natural Gas                   11
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     431
0.0     212
2.0      12
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    632
1 Toilet without A Seat     28
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     466
1 Yes    194
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     588
1 Yes     72
Name: diab, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     635
1 Yes     25
Name: mem_rel_dis, dtype: int64
--------------------------------
asthma
--------------------------------
2 No     636
1 Yes     24
Name: asthma, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     478
1 Yes    182
Name: rheumatism, dtype: int64
--------------------------------
cancer
--------------------------------
2 No     652
1 Yes      8
Name: cancer, dtype: int64
--------------------------------
lund_dis
--------------------------------
2 No     578
1 Yes     82
Name: lund_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     629
1 Yes     31
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     517
1 Yes    143
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
4 Outside public toilet without water    246
1 Inside toilet with water               240
5 Open-air                                88
3 Outside toilet with water               85
2 Inside toilet without water              1
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    495
2 No     165
Name: sewage_sys, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road         567
3 Sand-stone road     93
Name: road_type, dtype: int64
--------------------------------
id---140512
has_running_water
--------------------------------
1 Yes    404
2 No     256
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
2 Water heater installed by the household    314
3 No                                         314
2 Water Heater Installed by The Household     22
3.0                                            6
1 Hot water provided                           4
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
2 Natural gas                  211
5 Electric                     138
6 crop residue/Wood burning    129
4 Liquefied Petroleum Gas       82
1 Coal                          59
6 Crop residue/Wood burning     18
6 Crop Residue/Wood Burning     12
2 Natural Gas                   11
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     431
0.0     212
2.0      12
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    632
1 Toilet without A Seat     28
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     466
1 Yes    194
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     588
1 Yes     72
Name: diab, dtype: int64
--------------------------------

In [37]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Initialize the OneHotEncoder
encoder = OneHotEncoder()
used_data = data
# Define the columns to be one-hot encoded
columns_to_encode = ['has_running_water','inhouse_shower_Bath','cooking_fuel_source', 'toilet_type_1', 'hyp', 'diab','mem_rel_dis', 'asthma', 'rheumatism', 'cancer', 'lund_dis','liver_dis', 'stomach_dis', 'main_toilet_type', 'sewage_sys','road_type']

# One-hot encode each column and store the results in separate DataFrames
encoded_dfs = {}
for column in columns_to_encode:
    encoded_data = encoder.fit_transform(used_data[[column]])
    encoded_df = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out([column]))
    encoded_dfs[column] = encoded_df

# Concatenate the encoded DataFrames along the columns (axis=1)
combined_encoded_df = pd.concat(encoded_dfs.values(), axis=1)

# Drop the original columns from the original data
# used_data = used_data.drop(columns=columns_to_encode)
used_data = pd.DataFrame()
# Concatenate the original data with the combined encoded DataFrame
final_df = pd.concat([used_data, combined_encoded_df], axis=1)

# Check the correlation
# correlation_matrix = final_df.corr()
# correlation_matrix

In [41]:
from sklearn.preprocessing import LabelEncoder

encode = LabelEncoder()
# encode = OneHotEncoder()
road_type_encode = encode.fit_transform(data["road_type"])
sewage_encode = encode.fit_transform(data["sewage_sys"])
main_toilet_type_encode = encode.fit_transform(data["main_toilet_type"])
stomach_dis_encode = encode.fit_transform(data["stomach_dis"])
liver_dis_encode = encode.fit_transform(data["liver_dis"])
lung_dis_encode = encode.fit_transform(data["lund_dis"])
cancer_encode = encode.fit_transform(data["cancer"])
rheumatism_encode = encode.fit_transform(data["rheumatism"])
asthma_encode = encode.fit_transform(data["asthma"])
mem_rel_encode = encode.fit_transform(data["mem_rel_dis"])
diab_encode = encode.fit_transform(data["diab"])
hyp_encode = encode.fit_transform(data["hyp"])
toilet_type_1_encode = encode.fit_transform(data["toilet_type_1"])
cooking_fuel_source_encode = encode.fit_transform(data["cooking_fuel_source"])
has_running_water_encode = encode.fit_transform(data["has_running_water"])
inhouse_shower_Bath_encode = encode.fit_transform(data["inhouse_shower_Bath"])
# # main_toilet_type_encode
# encode.classes_

coded_data = pd.DataFrame()
coded_data["road_type"] = road_type_encode
coded_data["sewage_sys"] = sewage_encode
coded_data["main_toilet_type"] = main_toilet_type_encode
coded_data["stomach_dis"] = stomach_dis_encode
coded_data["liver_dis"] = liver_dis_encode
coded_data["lund_dis"] = lung_dis_encode
coded_data["cancer"] = cancer_encode

coded_data["rheumatism"] = rheumatism_encode
coded_data["asthma"] = asthma_encode
coded_data["mem_rel_dis"] = mem_rel_encode
coded_data["diab"] = diab_encode
coded_data["hyp"] = hyp_encode

coded_data["toilet_type_1"] = toilet_type_1_encode
coded_data["cooking_fuel_source"] = cooking_fuel_source_encode
coded_data["has_running_water"] = has_running_water_encode
coded_data["inhouse_shower_Bath"] = inhouse_shower_Bath_encode
encode.classes_
# coded_data

,road_type,sewage_sys,main_toilet_type,stomach_dis,liver_dis,lund_dis,cancer,rheumatism,asthma,mem_rel_dis,diab,hyp,toilet_type_1,cooking_fuel_source,has_running_water,inhouse_shower_Bath
0,0,0,2,1,1,1,1,1,1,1,0,0,1,2,0,2
1,0,0,2,1,1,1,1,1,1,1,0,1,1,2,0,2
2,0,0,2,1,1,1,1,1,1,1,0,0,1,2,0,2
3,0,0,2,1,1,1,1,1,1,1,0,1,1,2,0,2
4,0,0,2,1,1,1,1,1,1,1,0,0,1,3,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,0,0,3,1,1,1,1,1,1,0,1,0,1,4,0,3
656,0,0,3,1,1,1,1,0,1,1,1,0,1,4,0,3
657,0,0,3,1,1,1,1,1,1,0,1,0,1,4,0,3
658,0,0,3,1,1,1,1,0,1,1,1,0,1,4,0,3
659,0,0,3,1,1,1,1,1,1,0,1,0,1,4,0,3

In [13]:
# plt.figure(figsize = (12, 6))
# sns.heatmap(coded_data.corr(), annot= True)

In [40]:
# coded_data.to_csv("./labelcoded_workdata.csv",index=False )

2011 Distributions

In [318]:
dat = data[data["Year"]== 2011]
# x = dat[dat["communityID"]== 1082592]["communityID"] filtering  remind

In [321]:
community_id = [1051023, 1082592, 140311, 940041, 1051022, 140511, 140512, 1053813, 1082593, 146431, 896762, 896763, 1051021, 146432, 1940371, 1940373, 140313, 1040043, 1040041, 940042, 940043, 1040042]
variables = ['has_running_water','inhouse_shower_Bath','cooking_fuel_source', 'num_toilet', 'toilet_type_1', 'hyp', 'diab','mem_rel_dis', 'asthma', 'rheumatism', 'cancer', 'lund_dis','liver_dis', 'stomach_dis', 'main_toilet_type', 'sewage_sys','road_type']
print(f"year={2011}")
for i in community_id:
    print(f"id---{i}")
    for  var in variables:
        print(f"{var}")
        print("--------------------------------")
        print(dat[var].value_counts())
        print("--------------------------------")

year=2011
id---1051023
has_running_water
--------------------------------
2 No     220
1 Yes    201
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
3 No                                         261
2 Water heater installed by the household    158
1 Hot water provided                           2
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
6 crop residue/Wood burning    121
5 Electric                      92
2 Natural gas                   83
4 Liquefied Petroleum Gas       74
1 Coal                          51
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     228
0.0     177
2.0      11
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    421
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     267
1 Yes    154
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     364
1 Yes     57
Name: diab, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     409
1 Yes     12
Name: mem_rel_dis, dtype: int64
--------------------------------
asthma
--------------------------------
2 No     397
1 Yes     24
Name: asthma, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     290
1 Yes    131
Name: rheumatism, dtype: int64
--------------------------------
cancer
--------------------------------
2 No     413
1 Yes      8
Name: cancer, dtype: int64
--------------------------------
lund_dis
--------------------------------
2 No     354
1 Yes     67
Name: lund_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     398
1 Yes     23
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     350
1 Yes     71
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
4 Outside public toilet without water    184
1 Inside toilet with water                86
3 Outside toilet with water               78
5 Open-air                                72
2 Inside toilet without water              1
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    302
2 No     119
Name: sewage_sys, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road         350
3 Sand-stone road     71
Name: road_type, dtype: int64
--------------------------------
id---1082592
has_running_water
--------------------------------
2 No     220
1 Yes    201
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
3 No                                         261
2 Water heater installed by the household    158
1 Hot water provided                           2
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
6 crop residue/Wood burning    121
5 Electric                      92
2 Natural gas                   83
4 Liquefied Petroleum Gas       74
1 Coal                          51
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     228
0.0     177
2.0      11
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    421
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     267
1 Yes    154
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     364
1 Yes     57
Name: diab, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     409
1 Yes     12
Name: mem_rel_dis, dtype: int64
--------------------------------
asthma
--------------------------------
2 No     397
1 Yes     24
Name: asthma, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     290
1 Yes    131
Name: rheumatism, dtype: int64
--------------------------------
cancer
--------------------------------
2 No     413
1 Yes      8
Name: cancer, dtype: int64
--------------------------------
lund_dis
--------------------------------
2 No     354
1 Yes     67
Name: lund_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     398
1 Yes     23
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     350
1 Yes     71
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
4 Outside public toilet without water    184
1 Inside toilet with water                86
3 Outside toilet with water               78
5 Open-air                                72
2 Inside toilet without water              1
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    302
2 No     119
Name: sewage_sys, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road         350
3 Sand-stone road     71
Name: road_type, dtype: int64
--------------------------------
id---140311
has_running_water
--------------------------------
2 No     220
1 Yes    201
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
3 No                                         261
2 Water heater installed by the household    158
1 Hot water provided                           2
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
6 crop residue/Wood burning    121
5 Electric                      92
2 Natural gas                   83
4 Liquefied Petroleum Gas       74
1 Coal                          51
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     228
0.0     177
2.0      11
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    421
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     267
1 Yes    154
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     364
1 Yes     57
Name: diab, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     409
1 Yes     12
Name: mem_rel_dis, dtype: int64
--------------------------------
asthma
--------------------------------
2 No     397
1 Yes     24
Name: asthma, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     290
1 Yes    131
Name: rheumatism, dtype: int64
--------------------------------
cancer
--------------------------------
2 No     413
1 Yes      8
Name: cancer, dtype: int64
--------------------------------
lund_dis
--------------------------------
2 No     354
1 Yes     67
Name: lund_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     398
1 Yes     23
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     350
1 Yes     71
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
4 Outside public toilet without water    184
1 Inside toilet with water                86
3 Outside toilet with water               78
5 Open-air                                72
2 Inside toilet without water              1
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    302
2 No     119
Name: sewage_sys, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road         350
3 Sand-stone road     71
Name: road_type, dtype: int64
--------------------------------
id---940041
has_running_water
--------------------------------
2 No     220
1 Yes    201
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
3 No                                         261
2 Water heater installed by the household    158
1 Hot water provided                           2
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
6 crop residue/Wood burning    121
5 Electric                      92
2 Natural gas                   83
4 Liquefied Petroleum Gas       74
1 Coal                          51
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     228
0.0     177
2.0      11
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    421
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     267
1 Yes    154
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     364
1 Yes     57
Name: diab, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     409
1 Yes     12
Name: mem_rel_dis, dtype: int64
--------------------------------
asthma
--------------------------------
2 No     397
1 Yes     24
Name: asthma, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     290
1 Yes    131
Name: rheumatism, dtype: int64
--------------------------------
cancer
--------------------------------
2 No     413
1 Yes      8
Name: cancer, dtype: int64
--------------------------------
lund_dis
--------------------------------
2 No     354
1 Yes     67
Name: lund_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     398
1 Yes     23
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     350
1 Yes     71
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
4 Outside public toilet without water    184
1 Inside toilet with water                86
3 Outside toilet with water               78
5 Open-air                                72
2 Inside toilet without water              1
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    302
2 No     119
Name: sewage_sys, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road         350
3 Sand-stone road     71
Name: road_type, dtype: int64
--------------------------------
id---1051022
has_running_water
--------------------------------
2 No     220
1 Yes    201
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
3 No                                         261
2 Water heater installed by the household    158
1 Hot water provided                           2
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
6 crop residue/Wood burning    121
5 Electric                      92
2 Natural gas                   83
4 Liquefied Petroleum Gas       74
1 Coal                          51
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     228
0.0     177
2.0      11
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    421
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     267
1 Yes    154
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     364
1 Yes     57
Name: diab, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     409
1 Yes     12
Name: mem_rel_dis, dtype: int64
--------------------------------
asthma
--------------------------------
2 No     397
1 Yes     24
Name: asthma, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     290
1 Yes    131
Name: rheumatism, dtype: int64
--------------------------------
cancer
--------------------------------
2 No     413
1 Yes      8
Name: cancer, dtype: int64
--------------------------------
lund_dis
--------------------------------
2 No     354
1 Yes     67
Name: lund_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     398
1 Yes     23
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     350
1 Yes     71
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
4 Outside public toilet without water    184
1 Inside toilet with water                86
3 Outside toilet with water               78
5 Open-air                                72
2 Inside toilet without water              1
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    302
2 No     119
Name: sewage_sys, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road         350
3 Sand-stone road     71
Name: road_type, dtype: int64
--------------------------------
id---140511
has_running_water
--------------------------------
2 No     220
1 Yes    201
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
3 No                                         261
2 Water heater installed by the household    158
1 Hot water provided                           2
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
6 crop residue/Wood burning    121
5 Electric                      92
2 Natural gas                   83
4 Liquefied Petroleum Gas       74
1 Coal                          51
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     228
0.0     177
2.0      11
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    421
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     267
1 Yes    154
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     364
1 Yes     57
Name: diab, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     409
1 Yes     12
Name: mem_rel_dis, dtype: int64
--------------------------------
asthma
--------------------------------
2 No     397
1 Yes     24
Name: asthma, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     290
1 Yes    131
Name: rheumatism, dtype: int64
--------------------------------
cancer
--------------------------------
2 No     413
1 Yes      8
Name: cancer, dtype: int64
--------------------------------
lund_dis
--------------------------------
2 No     354
1 Yes     67
Name: lund_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     398
1 Yes     23
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     350
1 Yes     71
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
4 Outside public toilet without water    184
1 Inside toilet with water                86
3 Outside toilet with water               78
5 Open-air                                72
2 Inside toilet without water              1
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    302
2 No     119
Name: sewage_sys, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road         350
3 Sand-stone road     71
Name: road_type, dtype: int64
--------------------------------
id---140512
has_running_water
--------------------------------
2 No     220
1 Yes    201
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
3 No                                         261
2 Water heater installed by the household    158
1 Hot water provided                           2
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
6 crop residue/Wood burning    121
5 Electric                      92
2 Natural gas                   83
4 Liquefied Petroleum Gas       74
1 Coal                          51
Name: cooking_fuel_source, dtype: int64
--------------------------------
num_toilet
--------------------------------
1.0     228
0.0     177
2.0      11
3.0       4
11.0      1
Name: num_toilet, dtype: int64
--------------------------------
toilet_type_1
--------------------------------
1 Toilet without a seat    421
Name: toilet_type_1, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     267
1 Yes    154
Name: hyp, dtype: int64
--------------------------------
diab
--------------------------------
2 No     364
1 Yes     57
Name: diab, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     409
1 Yes     12
Name: mem_rel_dis, dtype: int64
--------------------------------
asthma
--------------------------------
2 No     397
1 Yes     24
Name: asthma, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     290
1 Yes    131
Name: rheumatism, dtype: int64
--------------------------------
cancer
--------------------------------
2 No     413
1 Yes      8
Name: cancer, dtype: int64
--------------------------------
lund_dis
--------------------------------
2 No     354
1 Yes     67
Name: lund_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     398
1 Yes     23
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     350
1 Yes     71
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
4 Outside public toilet without water    184
1 Inside toilet with water                86
3 Outside toilet with water               78
5 Open-air                                72
2 Inside toilet without water              1
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    302
2 No     119
Name: sewage_sys, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road         350
3 Sand-stone road     71
Name: road_type, dtype: int64
--------------------------------
id---1053813
has_running_water
--------------------------------
2 No     220