In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df_2013 = pd.read_stata("./CHARLS2013_WAVE2/PSU.dta")

In [3]:
df_2013

    communityID province                  city urban_nbs areatype versionID
0       0101041   ÔÆÄÏÊ¡                ±£É½ÊÐ     Rural      220  20151118
1       0101042   ÔÆÄÏÊ¡                ±£É½ÊÐ     Urban      111  20151118
2       0101043   ÔÆÄÏÊ¡                ±£É½ÊÐ     Rural      220  20151118
3       0102061   ÔÆÄÏÊ¡        ³þÐÛÒÍ×å×ÔÖÎÖÝ     Rural      220  20151118
4       0102062   ÔÆÄÏÊ¡        ³þÐÛÒÍ×å×ÔÖÎÖÝ     Rural      220  20151118
..          ...      ...                   ...       ...      ...       ...
445     3452332   ¹óÖÝÊ¡  Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ     Rural      210  20151118
446     3452333   ¹óÖÝÊ¡  Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ     Urban      122  20151118
447     3477631   ¹óÖÝÊ¡  Ç­¶«ÄÏÃç×å¶±×å×ÔÖÎÖÝ     Rural      220  20151118
448     3477632   ¹óÖÝÊ¡  Ç­¶«ÄÏÃç×å¶±×å×ÔÖÎÖÝ     Rural      220  20151118
449     3477633   ¹óÖÝÊ¡  Ç­¶«ÄÏÃç×å¶±×å×ÔÖÎÖÝ     Urban      111  20151118

[450 rows x 6 columns]

In [4]:
# pd.set_option('display.max_rows', None)
# pd.reset_option('display.max_rows')
urban_2013 = df_2013[df_2013.urban_nbs == "Urban"]
# urban_2013[urban_2013.communityID == "0101042"]
urban_2013.head(60)

    communityID          province            city urban_nbs areatype versionID
1       0101042            ÔÆÄÏÊ¡          ±£É½ÊÐ     Urban      111  20151118
9       0104461            ÔÆÄÏÊ¡          ÕÑÍ¨ÊÐ     Urban      121  20151118
10      0104462            ÔÆÄÏÊ¡          ÕÑÍ¨ÊÐ     Urban      122  20151118
15      0140311            ÔÆÄÏÊ¡          À¥Ã÷ÊÐ     Urban      111  20151118
17      0140313            ÔÆÄÏÊ¡          À¥Ã÷ÊÐ     Urban      111  20151118
18      0140511            ÔÆÄÏÊ¡          À¥Ã÷ÊÐ     Urban      121  20151118
19      0140512            ÔÆÄÏÊ¡          À¥Ã÷ÊÐ     Urban      123  20151118
21      0146431            ÔÆÄÏÊ¡          ÁÙ²×ÊÐ     Urban      122  20151118
22      0146432            ÔÆÄÏÊ¡          ÁÙ²×ÊÐ     Urban      121  20151118
25      0182062            ÔÆÄÏÊ¡          Àö½­ÊÐ     Urban      122  20151118
27      0304761            ¸£½¨Ê¡          ÕÄÖÝÊÐ     Urban      122  20151118
34      0340432            ¸£½¨Ê¡          ¸£ÖÝÊÐ     Urban      122  20151118
45      0540541            ËÄ´¨Ê¡          ³É¶¼ÊÐ     Urban      122  20151118
46      0540542            ËÄ´¨Ê¡          ³É¶¼ÊÐ     Urban      121  20151118
47      0540543            ËÄ´¨Ê¡          ³É¶¼ÊÐ     Urban      122  20151118
50      0542493            ËÄ´¨Ê¡  Á¹É½ÒÍ×å×ÔÖÎÖÝ     Urban      121  20151118
57      0563021            ËÄ´¨Ê¡          ÒË±öÊÐ     Urban      121  20151118
58      0563022            ËÄ´¨Ê¡          ÒË±öÊÐ     Urban      121  20151118
61      0563462            ËÄ´¨Ê¡          ÒË±öÊÐ     Urban      122  20151118
62      0563463            ËÄ´¨Ê¡          ÒË±öÊÐ     Urban      121  20151118
65      0566043            ËÄ´¨Ê¡          ×ÊÑôÊÐ     Urban      122  20151118
72      0582021            ËÄ´¨Ê¡          ÃàÑôÊÐ     Urban      121  20151118
74      0582023            ËÄ´¨Ê¡          ÃàÑôÊÐ     Urban      121  20151118
76      0586592            ËÄ´¨Ê¡          Ã¼É½ÊÐ     Urban      121  20151118
84      0640281            ºÓ±±Ê¡        Ê¯¼Ò×¯ÊÐ     Urban      111  20151118
85      0640282            ºÓ±±Ê¡        Ê¯¼Ò×¯ÊÐ     Urban      111  20151118
86      0640283            ºÓ±±Ê¡        Ê¯¼Ò×¯ÊÐ     Urban      111  20151118
90      0646041            ºÓ±±Ê¡          ²×ÖÝÊÐ     Urban      111  20151118
91      0646042            ºÓ±±Ê¡          ²×ÖÝÊÐ     Urban      111  20151118
92      0646043            ºÓ±±Ê¡          ²×ÖÝÊÐ     Urban      111  20151118
96      0724281            ½­Î÷Ê¡        ¾°µÂÕòÊÐ     Urban      111  20151118
97      0724282            ½­Î÷Ê¡        ¾°µÂÕòÊÐ     Urban      111  20151118
98      0724283            ½­Î÷Ê¡        ¾°µÂÕòÊÐ     Urban      111  20151118
102     0740041            ½­Î÷Ê¡          ÄÏ²ýÊÐ     Urban      111  20151118
103     0740042            ½­Î÷Ê¡          ÄÏ²ýÊÐ     Urban      111  20151118
104     0740043            ½­Î÷Ê¡          ÄÏ²ýÊÐ     Urban      111  20151118
105     0740571            ½­Î÷Ê¡          ÄÏ²ýÊÐ     Urban      111  20151118
106     0740572            ½­Î÷Ê¡          ÄÏ²ýÊÐ     Urban      111  20151118
107     0740573            ½­Î÷Ê¡          ÄÏ²ýÊÐ     Urban      111  20151118
111     0749811            ½­Î÷Ê¡          ÉÏÈÄÊÐ     Urban      122  20151118
112     0749812            ½­Î÷Ê¡          ÉÏÈÄÊÐ     Urban      122  20151118
115     0753762            ½­Î÷Ê¡          ¾Å½­ÊÐ     Urban      121  20151118
116     0753763            ½­Î÷Ê¡          ¾Å½­ÊÐ     Urban      121  20151118
117     0755041            ½­Î÷Ê¡          ¼ª°²ÊÐ     Urban      111  20151118
118     0755042            ½­Î÷Ê¡          ¼ª°²ÊÐ     Urban      111  20151118
119     0755043            ½­Î÷Ê¡          ¼ª°²ÊÐ     Urban      111  20151118
122     0782333            ½­Î÷Ê¡          ¸ÓÖÝÊÐ     Urban      122  20151118
124     0896762  ÐÂ½®Î¬Îá¶û×ÔÖÎÇø      °¢¿ËËÕµØÇø     Urban      121  20151118
125     0896763  ÐÂ½®Î¬Îá¶û×ÔÖÎÇø      °¢¿ËËÕµØÇø     Urban      121  20151118
126     0940041              ±±¾©            ±±¾©     Urban      111  20151118
127     0940042              ±±¾©            ±±¾©     Urban      111  20151118
128     0940043              ±±¾©            ±±¾©     Urban      111  20151118
130     1017912      ÄÚÃÉ¹Å×ÔÖÎÇø      ÎýÁÖ¹ùÀÕÃË     Urban      121  20151118
132     1040041      ÄÚÃÉ¹Å×ÔÖÎÇø      ºôºÍºÆÌØÊÐ     Urban      111  20151118
133     1040042      ÄÚÃÉ¹Å×ÔÖÎÇø      ºôºÍºÆÌØÊÐ     Urban      111  20151118
134     1040043      ÄÚÃÉ¹Å×ÔÖÎÇø      ºôºÍºÆÌØÊÐ     Urban      111  20151118
135     1051021      ÄÚÃÉ¹Å×ÔÖÎÇø          ÐË°²ÃË     Urban      121  20151118
136     1051022      ÄÚÃÉ¹Å×ÔÖÎÇø          ÐË°²ÃË     Urban      121  20151118
137     1051023      ÄÚÃÉ¹Å×ÔÖÎÇø          ÐË°²ÃË     Urban      121  20151118
138     1053811      ÄÚÃÉ¹Å×ÔÖÎÇø          ³à·åÊÐ     Urban      121  20151118

In [5]:
urban_2013[urban_2013["province"] == "ÄÚÃÉ¹Å×ÔÖÎÇø"]

    communityID      province        city urban_nbs areatype versionID
130     1017912  ÄÚÃÉ¹Å×ÔÖÎÇø  ÎýÁÖ¹ùÀÕÃË     Urban      121  20151118
132     1040041  ÄÚÃÉ¹Å×ÔÖÎÇø  ºôºÍºÆÌØÊÐ     Urban      111  20151118
133     1040042  ÄÚÃÉ¹Å×ÔÖÎÇø  ºôºÍºÆÌØÊÐ     Urban      111  20151118
134     1040043  ÄÚÃÉ¹Å×ÔÖÎÇø  ºôºÍºÆÌØÊÐ     Urban      111  20151118
135     1051021  ÄÚÃÉ¹Å×ÔÖÎÇø      ÐË°²ÃË     Urban      121  20151118
136     1051022  ÄÚÃÉ¹Å×ÔÖÎÇø      ÐË°²ÃË     Urban      121  20151118
137     1051023  ÄÚÃÉ¹Å×ÔÖÎÇø      ÐË°²ÃË     Urban      121  20151118
138     1053811  ÄÚÃÉ¹Å×ÔÖÎÇø      ³à·åÊÐ     Urban      121  20151118
140     1053813  ÄÚÃÉ¹Å×ÔÖÎÇø      ³à·åÊÐ     Urban      121  20151118
145     1082592  ÄÚÃÉ¹Å×ÔÖÎÇø  ºôÂ×±´¶ûÊÐ     Urban      121  20151118
146     1082593  ÄÚÃÉ¹Å×ÔÖÎÇø  ºôÂ×±´¶ûÊÐ     Urban      121  20151118

In [32]:
# 1040041,  1040042, 1040043, ÄÚÃÉ¹Å×ÔÖÎÇø, ºôºÍºÆÌØÊÐ
# 1051021,  1051022, 1051023, ÄÚÃÉ¹Å×ÔÖÎÇø, ÐË°²ÃË

Functions for adding Cities

1. Health

In [8]:

def add_city_with_two(commuity_iD, year, data):
    df_2011_health_city1_ID1 =  data[data["communityID"] == commuity_iD[0]]
    df_2011_health_city1_ID2 =  data[data["communityID"] == commuity_iD[1]]
    df_2011_health_city1_ID3 =  data[data["communityID"] ==commuity_iD[2]]
    # # df_2011_health_city1_ID4 =  df_2011_health[df_2011_health["communityID"] == "0140512"] 
    df_2011_health_city1 = pd.concat([df_2011_health_city1_ID1,df_2011_health_city1_ID2, df_2011_health_city1_ID3 ], ignore_index=True)
    print(df_2011_health_city1)
    df_2011_health_status = pd.DataFrame()
    df_2011_health_status["Year"] = [year for i in range(len(df_2011_health_city1))]
    df_2011_health_status["ID"] = df_2011_health_city1["ID"]
    df_2011_health_status["HouseHoldID"] = df_2011_health_city1["householdID"]
    df_2011_health_status["communityID"] = df_2011_health_city1["communityID"]
    df_2011_health_status["self_com_on_health"] = df_2011_health_city1["da002"]
    df_2011_health_status["hyp"] = df_2011_health_city1["da007_1_"]
    df_2011_health_status["diab"] = df_2011_health_city1["da007_3_"]
    df_2011_health_status["mem_rel_dis"] = df_2011_health_city1["da007_12_"]
    df_2011_health_status["asthma"] = df_2011_health_city1["da007_14_"]
    df_2011_health_status["rheumatism"] = df_2011_health_city1["da007_13_"]
    df_2011_health_status["cancer"] = df_2011_health_city1["da007_4_"]
    df_2011_health_status["lund_dis"] = df_2011_health_city1["da007_5_"]
    df_2011_health_status["liver_dis"] = df_2011_health_city1["da007_6_"]
    df_2011_health_status["stomach_dis"] = df_2011_health_city1["da007_10_"]
    # df_2011_health_status
    return df_2011_health_status

In [9]:
df_2013_health = pd.read_stata("./CHARLS2013_WAVE2/Health_Status_and_Functioning.dta")
df_2011_health = pd.read_stata("./2011_WAVE_1/health_status_and_functioning.dta")
df_2015_health = pd.read_stata("./CHARLS2015_WAVE3/Health_Status_and_Functioning.dta")

In [12]:
res1 = add_city_with_two(["1051021", "1051022", "1051023"], 2011, df_2011_health)
res2 = add_city_with_two(["1051021", "1051022", "1051023"], 2013, df_2013_health)
res3 = add_city_with_two(["1051021", "1051022", "1051023"], 2015, df_2015_health)

complete_health_city1 = pd.concat([res1, res2, res3], ignore_index=True)
complete_health_city1["province"] = "ÄÚÃÉ¹Å×ÔÖÎÇø"
complete_health_city1["city"] = "ÐË°²ÃË"
complete_health_city1["urban_nbs"] = "Urban"
complete_health_city1.to_csv("complet_health_city11.csv", index = False)

              ID householdID communityID   da001   da002  da003  \
0    10510210701   105102107     1051021     NaN  3 Fair   2 No
1    10510210702   105102107     1051021  4 Fair     NaN   2 No
2    10510210202   105102102     1051021     NaN  4 Poor  1 Yes
3    10510210201   105102102     1051021  3 Good     NaN   2 No
4    10510212501   105102125     1051021     NaN  3 Fair    NaN
..           ...         ...         ...     ...     ...    ...
164  10510232401   105102324     1051023     NaN  3 Fair   2 No
165  10510231101   105102311     1051023     NaN  3 Fair   2 No
166  10510231901   105102319     1051023  4 Fair     NaN   2 No
167  10510230102   105102301     1051023     NaN  4 Poor    NaN
168  10510230101   105102301     1051023  5 Poor     NaN   2 No

                da004 da005_1_ da005_2_ da005_3_  ... de017 de018  de019  \
0                2 No     2 No     2 No     2 No  ...   NaN   NaN    NaN
1                2 No     2 No     2 No     2 No  ...   NaN   NaN    NaN
2                2 No     2 No     2 No     2 No  ...   NaN   NaN    NaN
3                2 No     2 No     2 No     2 No  ...   NaN   NaN    NaN
4                 NaN     2 No     2 No     2 No  ...   NaN   NaN    NaN
..                ...      ...      ...      ...  ...   ...   ...    ...
164              2 No     2 No     2 No     2 No  ...   NaN   NaN    NaN
165              2 No     2 No     2 No     2 No  ...   NaN   NaN    NaN
166              2 No     2 No     2 No     2 No  ...   NaN   NaN    NaN
167               NaN     2 No     2 No     2 No  ...   NaN   NaN    NaN
168  3 Not applicable     2 No     2 No     2 No  ...   NaN   NaN    NaN

     de020  de021  de022  de023 de024 flda081_1  proxy
0      NaN    NaN    NaN    NaN   NaN      75Ëê   0 No
1      NaN    NaN    NaN    NaN   NaN      75Ëê   0 No
2      NaN    NaN    NaN    NaN   NaN      75Ëê   0 No
3      NaN    NaN    NaN    NaN   NaN      75Ëê   0 No
4      NaN    NaN    NaN    NaN   NaN            1 Yes
..     ...    ...    ...    ...   ...       ...    ...
164    NaN    NaN    NaN    NaN   NaN      75Ëê   0 No
165    NaN    NaN    NaN    NaN   NaN      75Ëê   0 No
166    NaN    NaN    NaN    NaN   NaN      80Ëê   0 No
167    NaN    NaN    NaN    NaN   NaN            1 Yes
168    NaN    NaN    NaN    NaN   NaN      75Ëê   0 No

[169 rows x 591 columns]
               ID householdID communityID  xrgender                 xrtype  \
0    105102102001  1051021020     1051021  2 Female  2 REIW Fowllup survey
1    105102102002  1051021020     1051021    1 Male  2 REIW Fowllup survey
2    105102103002  1051021030     1051021  2 Female  2 REIW Fowllup survey
3    105102104001  1051021040     1051021    1 Male  2 REIW Fowllup survey
4    105102104002  1051021040     1051021  2 Female  2 REIW Fowllup survey
..            ...         ...         ...       ...                    ...
181  105102330002  1051023300     1051023    1 Male     1 NEWIW New survey
182  105102331001  1051023310     1051023    1 Male  2 REIW Fowllup survey
183  105102331002  1051023310     1051023  2 Female  2 REIW Fowllup survey
184  105102332001  1051023320     1051023  2 Female     1 NEWIW New survey
185  105102332002  1051023320     1051023    1 Male     1 NEWIW New survey

    zda005_1_ zda005_2_ zda005_3_ zda005_4_ zda005_5_  ...  \
0        2 No      2 No      2 No      2 No     1 Yes  ...
1        2 No      2 No      2 No      2 No      2 No  ...
2        2 No      2 No      2 No      2 No      2 No  ...
3        2 No      2 No      2 No      2 No      2 No  ...
4        2 No      2 No      2 No      2 No      2 No  ...
..        ...       ...       ...       ...       ...  ...
181       NaN       NaN       NaN       NaN       NaN  ...
182       NaN       NaN       NaN       NaN       NaN  ...
183       NaN       NaN       NaN       NaN       NaN  ...
184       NaN       NaN       NaN       NaN       NaN  ...
185       NaN       NaN       NaN       NaN       NaN  ...

                 dc027s4              dc027s5              dc027s6  \
0                    NaN                  NaN                  NaN
1                    NaN                  NaN                  NaN
2                    NaN                  NaN                  NaN
3                    NaN                  NaN                  NaN
4                    NaN  5 DC006_Wordlist[5]                  NaN
..                   ...                  ...                  ...
181  4 DC006_Wordlist[4]  5 DC006_Wordlist[5]                  NaN
182  4 DC006_Wordlist[4]                  NaN                  NaN
183                  NaN                  NaN  6 DC006_Wordlist[6]
184                  NaN                  NaN                  NaN
185                  NaN                  NaN  6 DC006_Wordlist[6]

                 dc027s7              dc027s8              dc027s9  \
0                    NaN                  NaN                  NaN
1                    NaN                  NaN                  NaN
2                    NaN                  NaN                  NaN
3                    NaN                  NaN                  NaN
4                    NaN                  NaN                  NaN
..                   ...                  ...                  ...
181  7 DC006_Wordlist[7]                  NaN                  NaN
182  7 DC006_Wordlist[7]                  NaN                  NaN
183  7 DC006_Wordlist[7]  8 DC006_Wordlist[8]                  NaN
184                  NaN                  NaN                  NaN
185  7 DC006_Wordlist[7]                  NaN  9 DC006_Wordlist[9]

                  dc027s10 dc027s11                 dc028 versionID
0                      NaN      NaN                   NaN  20151118
1    10 DC006_Wordlist[10]      NaN      2 Very satisfied  20151118
2                      NaN      NaN                   NaN  20151118
3    10 DC006_Wordlist[10]      NaN  3 Somewhat satisfied  20151118
4                      NaN      NaN      2 Very satisfied  20151118
..                     ...      ...                   ...       ...
181  10 DC006_Wordlist[10]      NaN  3 Somewhat satisfied  20151118
182  10 DC006_Wordlist[10]      NaN  3 Somewhat satisfied  20151118
183  10 DC006_Wordlist[10]      NaN  4 Not very satisfied  20151118
184                    NaN      NaN                   NaN  20151118
185                    NaN      NaN      2 Very satisfied  20151118

[186 rows x 1220 columns]
               ID householdID communityID  xrgender                 xrtype  \
0    105102143001  1051021430     1051021    1 Male  2 REIW Fowllup Survey
1    105102107001  1051021070     1051021    1 Male  2 REIW Fowllup Survey
2    105102107002  1051021070     1051021  2 Female  2 REIW Fowllup Survey
3    105102102002  1051021020     1051021    1 Male  2 REIW Fowllup Survey
4    105102102001  1051021020     1051021  2 Female  2 REIW Fowllup Survey
..            ...         ...         ...       ...                    ...
167  105102324001  1051023240     1051023  2 Female  2 REIW Fowllup Survey
168  105102311001  1051023110     1051023  2 Female  2 REIW Fowllup Survey
169  105102330002  1051023300     1051023    1 Male  2 REIW Fowllup Survey
170  105102301002  1051023010     1051023       NaN  2 REIW Fowllup Survey
171  105102301001  1051023010     1051023  2 Female  2 REIW Fowllup Survey

    zda005_1_ zda005_2_ zda005_3_ zda005_4_ zda005_5_  ...  dc035_w3_2  \
0         NaN       NaN       NaN       NaN       NaN  ...
1         NaN       NaN       NaN       NaN       NaN  ...          14
2         NaN       NaN       NaN       NaN       NaN  ...           7
3         NaN       NaN       NaN       NaN       NaN  ...
4       1 Yes       NaN       NaN     1 Yes     1 Yes  ...
..        ...       ...       ...       ...       ...  ...         ...
167       NaN       NaN       NaN       NaN       NaN  ...
168       NaN       NaN       NaN       NaN       NaN  ...
169       NaN       NaN       NaN       NaN       NaN  ...
170     1 Yes     1 Yes       NaN       NaN       NaN  ...
171       NaN       NaN       NaN       NaN       NaN  ...

     dc035_w3_3  dc035_w3_3_1  dc035_w3_3_2                dc042_w3  \
0                                              4 Not Very Satisfied
1            .E             9             9        2 Very Satisfied
2            .E             9             9   3 Some What Satisfied
3                                                  2 Very Satisfied
4                                                               NaN
..          ...           ...           ...                     ...
167                                           3 Some What Satisfied
168                                                2 Very Satisfied
169                                           3 Some What Satisfied
170                                          5 Not at All Satisfied
171                                          5 Not at All Satisfied

                  dc043_w3                dc044_w3                   dc028  \
0                      NaN  1 Completely Satisfied        2 Very Satisfied
1         2 Very Satisfied        2 Very Satisfied        2 Very Satisfied
2         2 Very Satisfied        2 Very Satisfied        2 Very Satisfied
3    3 Some What Satisfied        2 Very Satisfied        2 Very Satisfied
4                      NaN                     NaN                     NaN
..                     ...                     ...                     ...
167       2 Very Satisfied  1 Completely Satisfied   3 Some What Satisfied
168                    NaN  1 Completely Satisfied  1 Completely Satisfied
169       2 Very Satisfied        2 Very Satisfied        2 Very Satisfied
170       2 Very Satisfied        2 Very Satisfied        2 Very Satisfied
171  3 Some What Satisfied    4 Not Very Satisfied   3 Some What Satisfied

     proxy versionID
0        0  20171011
1        0  20171011
2        0  20171011
3        0  20171011
4    1 Yes  20171011
..     ...       ...
167      0  20171011
168      0  20171011
169      0  20171011
170      0  20171011
171      0  20171011

[172 rows x 1059 columns]

2. Background

In [13]:

def add_city_with_two_background(commuity_iD, year, data):
    df_2011_backgrnd_city1_ID1= data[data["communityID"] == commuity_iD[0]]
    df_2011_backgrnd_city1_ID2 = data[data["communityID"] == commuity_iD[1]]
    df_2011_backgrnd_city1_ID3 = data[data["communityID"] == commuity_iD[2]]
    # df_2011_backgrnd_city1_ID4 = df_2011_backgrnd[df_2011_backgrnd["communityID"] == "0140512"]
    df_2011_backgrnd_city1 = pd.concat([df_2011_backgrnd_city1_ID1,df_2011_backgrnd_city1_ID2, df_2011_backgrnd_city1_ID3], ignore_index=True)
    df_2011_background_info = pd.DataFrame()

    df_2011_background_info["Year"] = [year for i in range(len(df_2011_backgrnd_city1))]
    df_2011_background_info["ID"] = df_2011_backgrnd_city1["ID"]
    df_2011_background_info["HouseHoldID"] = df_2011_backgrnd_city1["householdID"]
    df_2011_background_info["communityID"] = df_2011_backgrnd_city1["communityID"]
    df_2011_background_info["birth_year"] = df_2011_backgrnd_city1["ba002_1"]
    df_2011_background_info["birth_month"] = df_2011_backgrnd_city1["ba002_2"]
    df_2011_background_info["birth_day"] = df_2011_backgrnd_city1["ba002_3"]
    # df_2011_background_info["age"] = df_2011_backgrnd_city1["ba004"]
    # df_2011_background_info["gender"] = df_2011_backgrnd_city1["ba000_w2_3"]
    return df_2011_background_info

In [14]:
df_2011_backgrnd = pd.read_stata("./2011_WAVE_1/demographic_background.dta")
df_2013_backgrnd = pd.read_stata("./CHARLS2013_WAVE2/Demographic_Background.dta")
df_2015_backgrnd = pd.read_stata("./CHARLS2015_WAVE3/Demographic_Background.dta")

In [15]:
res1 = add_city_with_two_background(["1051021", "1051022", "1051023"], 2011, df_2011_backgrnd)
res2 = add_city_with_two_background(["1051021", "1051022", "1051023"], 2013, df_2013_backgrnd)
res3 = add_city_with_two_background(["1051021", "1051022", "1051023"], 2015, df_2015_backgrnd)

complete_background_city1 = pd.concat([res1, res2, res3], ignore_index=True)
complete_background_city1["province"] = "ÄÚÃÉ¹Å×ÔÖÎÇø"
complete_background_city1["city"] = "ÐË°²ÃË"
complete_background_city1["urban_nbs"] = "Urban"
# complete_health_city1
complete_background_city1.to_csv("complet_background_city11.csv", index = False)

3. Housing

In [16]:
def add_city_with_two_housing(commuity_iD, year, data):
    df_2011_housing_xstics_IDI1= data[data["communityID"] == commuity_iD[0]]
    df_2011_housing_xstics_IDI2 = data[data["communityID"] == commuity_iD[1]]
    df_2011_housing_xstics_IDI3 = data[data["communityID"] == commuity_iD[2]]
    # df_2011_housing_xstics_IDI4 = df_2011_housing_xstics[df_2011_housing_xstics["communityID"] == "0140512"]
    df_2011_housing_xstics_city1 = pd.concat([df_2011_housing_xstics_IDI1,df_2011_housing_xstics_IDI2, df_2011_housing_xstics_IDI3 ], ignore_index=True)
    df_2011_housing_info  = pd.DataFrame()
    df_2011_housing_info["Year"] = [year for i in range(len(df_2011_housing_xstics_city1))]
    # df_2011_housing_info["ID"] = df_2011_housing_xstics_city1["ID"]
    df_2011_housing_info["HouseHoldID"] = df_2011_housing_xstics_city1["householdID"]
    df_2011_housing_info["communityID"] = df_2011_housing_xstics_city1["communityID"]
    df_2011_housing_info["has_running_water"] = df_2011_housing_xstics_city1["i017"]
    df_2011_housing_info["inhouse_shower_Bath"] = df_2011_housing_xstics_city1["i018"] 
    df_2011_housing_info["cooking_fuel_source"] = df_2011_housing_xstics_city1["i022"] 
    df_2011_housing_info["num_toilet"] = df_2011_housing_xstics_city1["i012_3"] 
    df_2011_housing_info["toilet_type_1"] = df_2011_housing_xstics_city1["i014s1"] 
    df_2011_housing_info["toilet_type_2"] = df_2011_housing_xstics_city1["i014s2"] 
    return df_2011_housing_info

In [17]:
df_2011_housing_xstics = pd.read_stata("./2011_WAVE_1/housing_characteristics.dta")
df_2011_community = pd.read_stata("./2011_WAVE_1/community.dta")
df_2013_housing_xstics = pd.read_stata("./2011_WAVE_1/community.dta")
# df_2011_housing_xstics
# 2013
df_2013_housing_xstics = pd.read_stata("./CHARLS2013_WAVE2/Housing_Characteristics.dta")
# df_2013_community = pd.read_stata("./CHARLS2013_WAVE2/hous")

#2015
df_2015_housing_xstics = pd.read_stata("./CHARLS2015_WAVE3/Housing_Characteristics.dta")

In [18]:
res1 = add_city_with_two_housing(["1051021", "1051022", "1051023"], 2011, df_2011_housing_xstics)
res2 = add_city_with_two_housing(["1051021", "1051022", "1051023"], 2013, df_2013_housing_xstics)
res3 = add_city_with_two_housing(["1051021", "1051022", "1051023"], 2015, df_2013_housing_xstics)

complete_housing_city1 = pd.concat([res1, res2, res3], ignore_index=True)
complete_housing_city1["province"] = "ÄÚÃÉ¹Å×ÔÖÎÇø"
complete_housing_city1["city"] = "ÐË°²ÃË"
complete_housing_city1["urban_nbs"] = "Urban"
# complete_health_city1
complete_housing_city1.to_csv("complet_housing_city11.csv", index = False)

4. Community

In [19]:
def add_city_with_two_comm(commuity_iD, year, data):
    df_2011_community_ID1= data[data["communityID"] == commuity_iD[0]]
    df_2011_community_ID2 = data[data["communityID"] == commuity_iD[1]]
    df_2011_community_ID3 = data[data["communityID"] == commuity_iD[2]]
    # df_2011_community_ID4 = df_2011_community[df_2011_community["communityID"] == "0140512"]
    df_2011_community_city = pd.concat([df_2011_community_ID1,df_2011_community_ID2,df_2011_community_ID3], ignore_index=True)
    df_2011_community_info = pd.DataFrame()
    df_2011_community_info["Year"] = [year for i in range(len(df_2011_community_city))]
    df_2011_community_info["communityID"] = df_2011_community_city["communityID"]
    df_2011_community_info["main_toilet_type"] = df_2011_community_city["jb013"]
    df_2011_community_info["sewage_sys"] = df_2011_community_city["jb010"]
    df_2011_community_info["road_type"] = df_2011_community_city["jb001"]
    df_2011_community_info["province"] = "ÄÚÃÉ¹Å×ÔÖÎÇø"
    df_2011_community_info["city"] = "ÐË°²ÃË"
    df_2011_community_info["urban_nbs"] = "Urban"
    return df_2011_community_info
    # 1040041,  1040042, 1040043, ÄÚÃÉ¹Å×ÔÖÎÇø, ºôºÍºÆÌØÊÐ
# 1051021,  1051022, 1051023, ÄÚÃÉ¹Å×ÔÖÎÇø, ÐË°²ÃË

In [20]:
res1 = add_city_with_two_comm(["1051021", "1051022", "1051023"], 2011, df_2011_community)
res1
res1.to_csv("complet_community_city11.csv")

In [21]:
data_comp = pd.read_csv("complet_community_city7.csv")
data_comp

,Unnamed: 0,Year,communityID,main_toilet_type,sewage_sys,road_type,province,city,urban_nbs
0,0,2011,896762,3 Outside toilet with water,1 Yes,1 Paved road,ÐÂ½®Î¬Îá¶û×ÔÖÎÇø,°¢¿ËËÕµØÇø,Urban
1,1,2011,896763,5 Open-air,1 Yes,1 Paved road,ÐÂ½®Î¬Îá¶û×ÔÖÎÇø,°¢¿ËËÕµØÇø,Urban

Combining data set

In [22]:
df_background1 = pd.read_csv("./complete_background_city1.csv")
df_background2 = pd.read_csv("./complete_background_city2.csv")
df_background3 = pd.read_csv("./complete_background_city3.csv")
df_background4 = pd.read_csv("./complete_background_city4.csv")
df_background5 = pd.read_csv("./complete_background_city5.csv")
df_background6 = pd.read_csv("./complete_background_city6.csv")
df_background7 = pd.read_csv("./complet_background_city7.csv")
df_background8 = pd.read_csv("./complet_background_city8.csv")
df_background9 = pd.read_csv("./complet_background_city9.csv")
df_background10 = pd.read_csv("./complet_background_city10.csv")
df_background11 = pd.read_csv("./complet_background_city11.csv")




new_background = pd.concat([df_background1, df_background2, df_background3, df_background4, df_background5, df_background6, df_background7, df_background8, df_background9, df_background10, df_background11])
new_background = new_background.drop(columns= ["Unnamed: 0", "age", "Unnamed: 0.1"])
# new_background.isna().sum()

def calculate_age(row):
    return row['Year'] - row['birth_year']

# Apply the calculate_age function to each row to create the new 'age_cal' column
new_background['age_cal'] = new_background.apply(calculate_age, axis=1)
# [for i in range(len(new_background))]
new_background .isna().sum()
background_info = new_background
background_info

,Year,ID,HouseHoldID,communityID,birth_year,birth_month,birth_day,gender,province,city,urban_nbs,age_cal
0,2011,9400410101,94004101,940041,1943.0,12.0,27.0,NaN,±±¾©,±±¾©,Urban,68.0
1,2011,9400410102,94004101,940041,1951.0,12.0,17.0,NaN,±±¾©,±±¾©,Urban,60.0
2,2011,9400410201,94004102,940041,1926.0,9.0,22.0,NaN,±±¾©,±±¾©,Urban,85.0
3,2011,9400410301,94004103,940041,1934.0,10.0,10.0,NaN,±±¾©,±±¾©,Urban,77.0
4,2011,9400410401,94004104,940041,1949.0,9.0,18.0,NaN,±±¾©,±±¾©,Urban,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...
528,2015,105102324001,1051023240,1051023,NaN,NaN,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,NaN
529,2015,105102311001,1051023110,1051023,NaN,NaN,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,NaN
530,2015,105102330002,1051023300,1051023,1965.0,6.0,27.0,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,50.0
531,2015,105102301002,1051023010,1051023,1943.0,10.0,18.0,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,72.0
532,2015,105102301001,1051023010,1051023,NaN,NaN,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,NaN

In [23]:
df_health1 = pd.read_csv("./complete_health_city1.csv")
df_health2 = pd.read_csv("./complete_health_city2.csv")
df_health3 = pd.read_csv("./complete_health_city3.csv")
df_health4 = pd.read_csv("./complete_health_city4.csv")
df_health5 = pd.read_csv("./complete_health_city5.csv")
df_health6 = pd.read_csv("./complete_health_city6.csv")
df_health7 = pd.read_csv("./complet_health_city7.csv")
df_health8 = pd.read_csv("./complet_health_city8.csv")
df_health9 = pd.read_csv("./complet_health_city9.csv")
df_health10 = pd.read_csv("./complet_health_city10.csv")
df_health11 = pd.read_csv("./complet_health_city11.csv")




new_health = pd.concat([df_health1, df_health2, df_health3, df_health4, df_health5, df_health6, df_health7, df_health8, df_health9, df_health10, df_health11])
new_health.head(20)

new_health = new_health.drop(columns= ["Unnamed: 0", "Unnamed: 0.2", "Unnamed: 0.1"])
health_info = new_health
# new_health.shape
health_info

,Year,ID,HouseHoldID,communityID,self_com_on_health,hyp,diab,mem_rel_dis,asthma,rheumatism,cancer,lund_dis,liver_dis,stomach_dis,province,city,urban_nbs
0,2011,9400411301,94004113,940041,4 Poor,1 Yes,2 No,2 No,2 No,2 No,2 No,2 No,2 No,2 No,±±¾©,±±¾©,Urban
1,2011,9400411302,94004113,940041,2 Good,2 No,2 No,2 No,2 No,2 No,2 No,2 No,2 No,2 No,±±¾©,±±¾©,Urban
2,2011,9400410301,94004103,940041,3 Fair,1 Yes,2 No,2 No,2 No,2 No,2 No,2 No,2 No,2 No,±±¾©,±±¾©,Urban
3,2011,9400411102,94004111,940041,3 Fair,2 No,2 No,2 No,2 No,2 No,2 No,2 No,2 No,2 No,±±¾©,±±¾©,Urban
4,2011,9400411101,94004111,940041,4 Poor,2 No,2 No,2 No,2 No,2 No,2 No,2 No,2 No,2 No,±±¾©,±±¾©,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,2015,105102324001,1051023240,1051023,3 Fair,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban
523,2015,105102311001,1051023110,1051023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban
524,2015,105102330002,1051023300,1051023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban
525,2015,105102301002,1051023010,1051023,5 Very poor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban
526,2015,105102301001,1051023010,1051023,4 Poor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban

In [24]:
df_housing1 = pd.read_csv("./complete_housing_city1.csv")
df_housing2 = pd.read_csv("./complete_housing_city2.csv")
df_housing3 = pd.read_csv("./complete_housing_city3.csv")
df_housing4 = pd.read_csv("./complete_housing_city4.csv")
df_housing5 = pd.read_csv("./complete_housing_city5.csv")
df_housing6 = pd.read_csv("./complete_housing_city6.csv")
df_housing7 = pd.read_csv("./complet_housing_city7.csv")
df_housing8 = pd.read_csv("./complet_housing_city8.csv")
df_housing9 = pd.read_csv("./complet_housing_city9.csv")
df_housing10 = pd.read_csv("./complet_housing_city10.csv")
df_housing11 = pd.read_csv("./complet_housing_city11.csv")




new_housing = pd.concat([df_housing1, df_housing2, df_housing3, df_housing4, df_housing5, df_housing6, df_housing7, df_housing8, df_housing9, df_housing10, df_housing11])

new_housing = new_housing.drop(columns= ["Unnamed: 0"])
# new_housing.info()
# new_housing[new_housing["HouseHoldID"] == 940041260]
housing_info = new_housing
housing_info

,Year,HouseHoldID,communityID,has_running_water,inhouse_shower_Bath,cooking_fuel_source,num_toilet,toilet_type_1,toilet_type_2,ID,province,city,urban_nbs
0,2011,94004113,940041,1 Yes,2 Water heater installed by the household,2 Natural gas,0.0,1 Toilet without a seat,2 Toilet with a seat,NaN,±±¾©,±±¾©,Urban
1,2011,94004103,940041,1 Yes,2 Water heater installed by the household,2 Natural gas,0.0,1 Toilet without a seat,2 Toilet with a seat,NaN,±±¾©,±±¾©,Urban
2,2011,94004111,940041,1 Yes,2 Water heater installed by the household,4 Liquefied Petroleum Gas,0.0,1 Toilet without a seat,2 Toilet with a seat,NaN,±±¾©,±±¾©,Urban
3,2011,94004105,940041,1 Yes,3 No,2 Natural gas,0.0,1 Toilet without a seat,2 Toilet with a seat,NaN,±±¾©,±±¾©,Urban
4,2011,94004110,940041,1 Yes,2 Water heater installed by the household,2 Natural gas,0.0,1 Toilet without a seat,2 Toilet with a seat,NaN,±±¾©,±±¾©,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,2015,1051023250,1051023,1 Yes,2 Water heater installed by the household,2 Natural gas,1.0,NaN,2 Toilet with a seat,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban
299,2015,1051023260,1051023,1 Yes,2 Water heater installed by the household,4 Liquefied Petroleum Gas,1.0,NaN,2 Toilet with a seat,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban
300,2015,1051023270,1051023,1 Yes,2 Water heater installed by the household,5 Electric,0.0,1 Toilet without a seat,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban
301,2015,1051023300,1051023,1 Yes,2 Water heater installed by the household,5 Electric,0.0,1 Toilet without a seat,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban
302,2015,1051023310,1051023,1 Yes,1 Hot water provided,5 Electric,1.0,NaN,2 Toilet with a seat,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban

In [25]:
housing_info.columns

Index(['Year', 'HouseHoldID', 'communityID', 'has_running_water',
       'inhouse_shower_Bath', 'cooking_fuel_source', 'num_toilet',
       'toilet_type_1', 'toilet_type_2', 'ID', 'province', 'city',
       'urban_nbs'],
      dtype='object')

In [27]:
# housing_info[housing_info["HouseHoldID"] == 94004101]

In [28]:
df_com1 = pd.read_csv("./complete_community_city1.csv")
df_com4 = pd.read_csv("./complete_community_city4.csv")
df_com5 = pd.read_csv("./complete_community_city5.csv")
df_com6 = pd.read_csv("./complete_community_city6.csv")
df_com7 = pd.read_csv("./complet_community_city7.csv")
df_com8 = pd.read_csv("./complet_community_city8.csv")
df_com9 = pd.read_csv("./complet_community_city9.csv")
df_com10 = pd.read_csv("./complet_community_city10.csv")
df_com11 = pd.read_csv("./complet_community_city11.csv")


new_com = pd.concat([df_com1, df_com4, df_com5, df_com6, df_com7, df_com8, df_com9, df_com10, df_com11])
new_com = new_com.drop(columns= ["Unnamed: 0"])

# new_com[new_com["HouseHoldID"] == 940041260]
# new_com
comm_info = new_com
comm_info

,Year,communityID,main_toilet_type,sewage_sys,road_type,province,city,urban_nbs
0,2011,940041,3 Outside toilet with water,1 Yes,1 Paved road,±±¾©,±±¾©,Urban
1,2011,940042,1 Inside toilet with water,1 Yes,1 Paved road,±±¾©,±±¾©,Urban
2,2011,940043,1 Inside toilet with water,1 Yes,1 Paved road,±±¾©,±±¾©,Urban
0,2011,140311,1 Inside toilet with water,1 Yes,1 Paved road,ÔÆÄÏÊ¡,À¥Ã÷ÊÐ,Urban
1,2011,140313,1 Inside toilet with water,1 Yes,1 Paved road,ÔÆÄÏÊ¡,À¥Ã÷ÊÐ,Urban
2,2011,140511,4 Outside public toilet without water,1 Yes,1 Paved road,ÔÆÄÏÊ¡,À¥Ã÷ÊÐ,Urban
3,2011,140512,5 Open-air,2 No,1 Paved road,ÔÆÄÏÊ¡,À¥Ã÷ÊÐ,Urban
0,2011,146431,4 Outside public toilet without water,2 No,1 Paved road,ÔÆÄÏÊ¡,ÁÙ²×ÊÐ,Urban
1,2011,146432,3 Outside toilet with water,1 Yes,1 Paved road,ÔÆÄÏÊ¡,ÁÙ²×ÊÐ,Urban
0,2011,1940371,4 Outside public toilet without water,1 Yes,1 Paved road,Ìì½ò,Ìì½ò,Urban
1,2011,1940372,1 Inside toilet with water,1 Yes,1 Paved road,Ìì½ò,Ìì½ò,Urban
2,2011,1940373,1 Inside toilet with water,1 Yes,1 Paved road,Ìì½ò,Ìì½ò,Urban
0,2011,896762,3 Outside toilet with water,1 Yes,1 Paved road,ÐÂ½®Î¬Îá¶û×ÔÖÎÇø,°¢¿ËËÕµØÇø,Urban
1,2011,896763,5 Open-air,1 Yes,1 Paved road,ÐÂ½®Î¬Îá¶û×ÔÖÎÇø,°¢¿ËËÕµØÇø,Urban
0,2011,1082592,4 Outside public toilet without water,2 No,3 Sand-stone road,ÐÂ½®Î¬Îá¶û×ÔÖÎÇø,°¢¿ËËÕµØÇø,Urban
1,2011,1082593,4 Outside public toilet without water,1 Yes,3 Sand-stone road,ÐÂ½®Î¬Îá¶û×ÔÖÎÇø,°¢¿ËËÕµØÇø,Urban
0,2011,1053811,2 Inside toilet without water,1 Yes,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,³à·åÊÐ,Urban
1,2011,1053813,5 Open-air,1 Yes,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,³à·åÊÐ,Urban
0,2011,1040041,1 Inside toilet with water,2 No,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,ºôºÍºÆÌØÊÐ,Urban
1,2011,1040042,2 Inside toilet without water,1 Yes,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,ºôºÍºÆÌØÊÐ,Urban
2,2011,1040043,1 Inside toilet with water,1 Yes,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,ºôºÍºÆÌØÊÐ,Urban
0,2011,1051021,4 Outside public toilet without water,2 No,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban
1,2011,1051022,4 Outside public toilet without water,1 Yes,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban
2,2011,1051023,1 Inside toilet with water,1 Yes,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban

In [29]:
comm_info.columns

Index(['Year', 'communityID', 'main_toilet_type', 'sewage_sys', 'road_type',
       'province', 'city', 'urban_nbs'],
      dtype='object')

Merging the Data

In [30]:
import pandas as pd

import pandas as pd

merged_df = background_info.merge(housing_info[['HouseHoldID', 'communityID','has_running_water','inhouse_shower_Bath','cooking_fuel_source', 'num_toilet', 'toilet_type_1', 'toilet_type_2']], on=['HouseHoldID', 'communityID'], how='left')


merged_df_health = merged_df.merge(health_info[['HouseHoldID', 'communityID', 'self_com_on_health', 'hyp',
       'diab', 'mem_rel_dis', 'asthma', 'rheumatism', 'cancer', 'lund_dis','liver_dis', 'stomach_dis']], on=['HouseHoldID', 'communityID'], how='left')
merged_df_health
merged_df_comm = merged_df_health.merge(comm_info[['communityID', 'main_toilet_type', 'sewage_sys', 'road_type']], on=['communityID'], how='left')
merged_df_comm

,Year,ID,HouseHoldID,communityID,birth_year,birth_month,birth_day,gender,province,city,...,mem_rel_dis,asthma,rheumatism,cancer,lund_dis,liver_dis,stomach_dis,main_toilet_type,sewage_sys,road_type
0,2011,9400410101,94004101,940041,1943.0,12.0,27.0,NaN,±±¾©,±±¾©,...,2 No,2 No,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road
1,2011,9400410101,94004101,940041,1943.0,12.0,27.0,NaN,±±¾©,±±¾©,...,2 No,2 No,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road
2,2011,9400410102,94004101,940041,1951.0,12.0,17.0,NaN,±±¾©,±±¾©,...,2 No,2 No,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road
3,2011,9400410102,94004101,940041,1951.0,12.0,17.0,NaN,±±¾©,±±¾©,...,2 No,2 No,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road
4,2011,9400410201,94004102,940041,1926.0,9.0,22.0,NaN,±±¾©,±±¾©,...,2 No,2 No,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17930,2015,105102301001,1051023010,1051023,NaN,NaN,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road
17931,2015,105102301001,1051023010,1051023,NaN,NaN,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road
17932,2015,105102301001,1051023010,1051023,NaN,NaN,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road
17933,2015,105102301001,1051023010,1051023,NaN,NaN,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road
17934,2015,105102301001,1051023010,1051023,NaN,NaN,NaN,NaN,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road

In [31]:
merged_df_comm.columns

Index(['Year', 'ID', 'HouseHoldID', 'communityID', 'birth_year', 'birth_month',
       'birth_day', 'gender', 'province', 'city', 'urban_nbs', 'age_cal',
       'has_running_water', 'inhouse_shower_Bath', 'cooking_fuel_source',
       'num_toilet', 'toilet_type_1', 'toilet_type_2', 'self_com_on_health',
       'hyp', 'diab', 'mem_rel_dis', 'asthma', 'rheumatism', 'cancer',
       'lund_dis', 'liver_dis', 'stomach_dis', 'main_toilet_type',
       'sewage_sys', 'road_type'],
      dtype='object')

In [32]:
complete_data = merged_df_comm.drop(columns=[ "birth_month", "birth_year", "birth_day"])
complete_data.shape

(17935, 28)

In [33]:
complete_data.isna().sum()

Year                       0
ID                         0
HouseHoldID                0
communityID                0
gender                 10886
province                   0
city                       0
urban_nbs                  0
age_cal                11704
has_running_water        295
inhouse_shower_Bath      318
cooking_fuel_source      302
num_toilet               490
toilet_type_1           6079
toilet_type_2          11944
self_com_on_health      8911
hyp                    13135
diab                   13123
mem_rel_dis            13113
asthma                 13106
rheumatism             13119
cancer                 13105
lund_dis               13119
liver_dis              13129
stomach_dis            13113
main_toilet_type        1920
sewage_sys              1920
road_type               1920
dtype: int64

In [34]:
complete_data.to_csv("complete_data.csv")

In [35]:
data = pd.read_csv("./complete_data.csv")
data = data.drop(columns= ["Unnamed: 0", "toilet_type_2", "gender", "self_com_on_health"])
new_data = data[data["age_cal"]>= 60]
new_data

,Year,ID,HouseHoldID,communityID,province,city,urban_nbs,age_cal,has_running_water,inhouse_shower_Bath,...,mem_rel_dis,asthma,rheumatism,cancer,lund_dis,liver_dis,stomach_dis,main_toilet_type,sewage_sys,road_type
0,2011,9400410101,94004101,940041,±±¾©,±±¾©,Urban,68.0,1 Yes,2 Water heater installed by the household,...,2 No,2 No,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road
1,2011,9400410101,94004101,940041,±±¾©,±±¾©,Urban,68.0,1 Yes,2 Water heater installed by the household,...,2 No,2 No,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road
2,2011,9400410102,94004101,940041,±±¾©,±±¾©,Urban,60.0,1 Yes,2 Water heater installed by the household,...,2 No,2 No,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road
3,2011,9400410102,94004101,940041,±±¾©,±±¾©,Urban,60.0,1 Yes,2 Water heater installed by the household,...,2 No,2 No,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road
4,2011,9400410201,94004102,940041,±±¾©,±±¾©,Urban,85.0,1 Yes,2 Water heater installed by the household,...,2 No,2 No,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17922,2015,105102301002,1051023010,1051023,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,72.0,1 Yes,2 Water heater installed by the household,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road
17923,2015,105102301002,1051023010,1051023,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,72.0,1 Yes,2 Water heater installed by the household,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road
17924,2015,105102301002,1051023010,1051023,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,72.0,1 Yes,2 Water heater installed by the household,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road
17925,2015,105102301002,1051023010,1051023,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,72.0,1 Yes,2 Water heater installed by the household,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road
17926,2015,105102301002,1051023010,1051023,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban,72.0,1 Yes,2 Water heater installed by the household,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road

In [36]:
new_data .isna().sum()

Year                      0
ID                        0
HouseHoldID               0
communityID               0
province                  0
city                      0
urban_nbs                 0
age_cal                   0
has_running_water        23
inhouse_shower_Bath      29
cooking_fuel_source      28
num_toilet               39
toilet_type_1          1756
hyp                     829
diab                    837
mem_rel_dis             832
asthma                  830
rheumatism              830
cancer                  829
lund_dis                835
liver_dis               840
stomach_dis             831
main_toilet_type        231
sewage_sys              231
road_type               231
dtype: int64

In [37]:
new_data.dropna(inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_8832\1515156368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data.dropna(inplace=True)

In [38]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 660 entries, 0 to 16493
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 660 non-null    int64
 1   ID                   660 non-null    int64
 2   HouseHoldID          660 non-null    int64
 3   communityID          660 non-null    int64
 4   province             660 non-null    object
 5   city                 660 non-null    object
 6   urban_nbs            660 non-null    object
 7   age_cal              660 non-null    float64
 8   has_running_water    660 non-null    object
 9   inhouse_shower_Bath  660 non-null    object
 10  cooking_fuel_source  660 non-null    object
 11  num_toilet           660 non-null    float64
 12  toilet_type_1        660 non-null    object
 13  hyp                  660 non-null    object
 14  diab                 660 non-null    object
 15  mem_rel_dis          660 non-null    object
 16  asthma               660 non-null    object
 17  rheumatism           660 non-null    object
 18  cancer               660 non-null    object
 19  lund_dis             660 non-null    object
 20  liver_dis            660 non-null    object
 21  stomach_dis          660 non-null    object
 22  main_toilet_type     660 non-null    object
 23  sewage_sys           660 non-null    object
 24  road_type            660 non-null    object
dtypes: float64(2), int64(4), object(19)
memory usage: 134.1+ KB

In [39]:
new_data["Year"].value_counts()

2011    489
2013    123
2015     48
Name: Year, dtype: int64

In [40]:
new_data.isna().sum()

Year                   0
ID                     0
HouseHoldID            0
communityID            0
province               0
city                   0
urban_nbs              0
age_cal                0
has_running_water      0
inhouse_shower_Bath    0
cooking_fuel_source    0
num_toilet             0
toilet_type_1          0
hyp                    0
diab                   0
mem_rel_dis            0
asthma                 0
rheumatism             0
cancer                 0
lund_dis               0
liver_dis              0
stomach_dis            0
main_toilet_type       0
sewage_sys             0
road_type              0
dtype: int64

In [218]:
new_data.to_csv("./working_data.csv", index=False)