## Data Exploration and Pre-processing

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
df_2013 = pd.read_stata("../CHARLS2013_WAVE2/PSU.dta")

In [4]:
df_2013

    communityID province                  city urban_nbs areatype versionID
0       0101041   ÔÆÄÏÊ¡                ±£É½ÊÐ     Rural      220  20151118
1       0101042   ÔÆÄÏÊ¡                ±£É½ÊÐ     Urban      111  20151118
2       0101043   ÔÆÄÏÊ¡                ±£É½ÊÐ     Rural      220  20151118
3       0102061   ÔÆÄÏÊ¡        ³þÐÛÒÍ×å×ÔÖÎÖÝ     Rural      220  20151118
4       0102062   ÔÆÄÏÊ¡        ³þÐÛÒÍ×å×ÔÖÎÖÝ     Rural      220  20151118
..          ...      ...                   ...       ...      ...       ...
445     3452332   ¹óÖÝÊ¡  Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ     Rural      210  20151118
446     3452333   ¹óÖÝÊ¡  Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ     Urban      122  20151118
447     3477631   ¹óÖÝÊ¡  Ç­¶«ÄÏÃç×å¶±×å×ÔÖÎÖÝ     Rural      220  20151118
448     3477632   ¹óÖÝÊ¡  Ç­¶«ÄÏÃç×å¶±×å×ÔÖÎÖÝ     Rural      220  20151118
449     3477633   ¹óÖÝÊ¡  Ç­¶«ÄÏÃç×å¶±×å×ÔÖÎÖÝ     Urban      111  20151118

[450 rows x 6 columns]

In [5]:

urban_2013 = df_2013[df_2013.urban_nbs == "Urban"]

In [6]:
urban_2013

    communityID province                  city urban_nbs areatype versionID
1       0101042   ÔÆÄÏÊ¡                ±£É½ÊÐ     Urban      111  20151118
9       0104461   ÔÆÄÏÊ¡                ÕÑÍ¨ÊÐ     Urban      121  20151118
10      0104462   ÔÆÄÏÊ¡                ÕÑÍ¨ÊÐ     Urban      122  20151118
15      0140311   ÔÆÄÏÊ¡                À¥Ã÷ÊÐ     Urban      111  20151118
17      0140313   ÔÆÄÏÊ¡                À¥Ã÷ÊÐ     Urban      111  20151118
..          ...      ...                   ...       ...      ...       ...
440     3360593   ºþÄÏÊ¡                Â¦µ×ÊÐ     Urban      122  20151118
441     3382311   ºþÄÏÊ¡                ³£µÂÊÐ     Urban      123  20151118
442     3382312   ºþÄÏÊ¡                ³£µÂÊÐ     Urban      111  20151118
446     3452333   ¹óÖÝÊ¡  Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ     Urban      122  20151118
449     3477633   ¹óÖÝÊ¡  Ç­¶«ÄÏÃç×å¶±×å×ÔÖÎÖÝ     Urban      111  20151118

[213 rows x 6 columns]

In [8]:
urban_2013[urban_2013["province"]== "¹óÖÝÊ¡"]

    communityID province                  city urban_nbs areatype versionID
446     3452333   ¹óÖÝÊ¡  Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ     Urban      122  20151118
449     3477633   ¹óÖÝÊ¡  Ç­¶«ÄÏÃç×å¶±×å×ÔÖÎÖÝ     Urban      111  20151118

These are the communityID, Cities and Provinces of selected households

In [40]:

# 1. # 0940041    # 0940042     # 0940043 # ±±¾© city, ptovince
# 2. 3452333   3477633 ¹óÖÝÊ¡,  Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ
# 3. 0104462  0104461 ÔÆÄÏÊ¡ ÕÑÍ¨ÊÐ
# 4. 0140512     0140311     0140511     0140313 ÔÆÄÏÊ¡, À¥Ã÷ÊÐ
# 5. 0146431    0146432 ÔÆÄÏÊ¡, ÁÙ²×ÊÐ
# 6. 1940373     1940371     1940372, Ìì½ò, Ìì½ò
# 7. 0896762    0896763 ÐÂ½®Î¬Îá¶û×ÔÖÎÇø  	°¢¿ËËÕµØÇø
# 8. 1082592    1082593 ÄÚÃÉ¹Å×ÔÖÎÇø, ºôÂ×±´¶ûÊÐ
# 9. 1053813    1053811  ÄÚÃÉ¹Å×ÔÖÎÇø ³à·åÊÐ
# 10. 1040043    1040041    1040042 ÄÚÃÉ¹Å×ÔÖÎÇø ºôºÍºÆÌØÊÐ
# 11. 1051022     1051021    1051023 ÄÚÃÉ¹Å×ÔÖÎÇø ÐË°²ÃË
# 12. 0540541, 0540542, 0540543, ËÄ´¨Ê¡, ³É¶¼ÊÐ
#13.  0563021,  0563022,  0563462,  0563463, ËÄ´¨Ê¡,  ÒË±öÊÐ

Functions for adding Cities

1. Health

In [9]:

def add_city_with_two(commuity_iD, year, data):
    df_2011_health_city1_ID1 =  data[data["communityID"] == commuity_iD[0]]
    df_2011_health_city1_ID2 =  data[data["communityID"] == commuity_iD[1]]
    df_2011_health_city1_ID3 =  data[data["communityID"] ==commuity_iD[2]]
    df_2011_health_city1_ID4 =  data[data["communityID"] == commuity_iD[3]] 
    df_2011_health_city1 = pd.concat([df_2011_health_city1_ID1,df_2011_health_city1_ID2, df_2011_health_city1_ID3, df_2011_health_city1_ID4], ignore_index=True)
    print(df_2011_health_city1)
    df_2011_health_status = pd.DataFrame()
    df_2011_health_status["Year"] = [year for i in range(len(df_2011_health_city1))]
    df_2011_health_status["ID"] = df_2011_health_city1["ID"]
    df_2011_health_status["HouseHoldID"] = df_2011_health_city1["householdID"]
    df_2011_health_status["communityID"] = df_2011_health_city1["communityID"]
    df_2011_health_status["self_com_on_health"] = df_2011_health_city1["da002"]
    df_2011_health_status["hyp"] = df_2011_health_city1["da007_1_"]
    df_2011_health_status["mem_rel_dis"] = df_2011_health_city1["da007_12_"]
    df_2011_health_status["rheumatism"] = df_2011_health_city1["da007_13_"]
    df_2011_health_status["lung_dis"] = df_2011_health_city1["da007_5_"]
    df_2011_health_status["liver_dis"] = df_2011_health_city1["da007_6_"]
    df_2011_health_status["stomach_dis"] = df_2011_health_city1["da007_10_"]
    return df_2011_health_status

In [10]:
df_2013_health = pd.read_stata("../CHARLS2013_WAVE2/Health_Status_and_Functioning.dta")
df_2011_health = pd.read_stata("../2011_WAVE_1/health_status_and_functioning.dta")
df_2015_health = pd.read_stata("../CHARLS2015_WAVE3/Health_Status_and_Functioning.dta")

In [11]:
res1 = add_city_with_two(["0563021", "0563022","0563462", "0563463" ], 2011, df_2011_health)
res2 = add_city_with_two(["0563021", "0563022", "0563462", "0563463"], 2013, df_2013_health)
res3 = add_city_with_two(["0563021", "0563022","0563462", "0563463" ], 2015, df_2015_health)
complete_health_city1 = pd.concat([res1, res2, res3], ignore_index=True)
complete_health_city1["province"] = "ËÄ´¨Ê¡"
complete_health_city1["city"] = "ÒË±öÊÐ"
complete_health_city1["urban_nbs"] = "Urban"
# complete_health_city1.to_csv("complet_health_city13.csv", index = False)

              ID householdID communityID   da001   da002  da003 da004  \
0    05630210901   056302109     0563021  4 Fair     NaN  1 Yes  2 No
1    05630212601   056302126     0563021     NaN  3 Fair   2 No  2 No
2    05630212602   056302126     0563021  4 Fair     NaN   2 No  2 No
3    05630211701   056302117     0563021     NaN  4 Poor   2 No  2 No
4    05630211702   056302117     0563021     NaN  4 Poor   2 No  2 No
..           ...         ...         ...     ...     ...    ...   ...
146  05634632701   056346327     0563463     NaN  3 Fair   2 No  2 No
147  05634631601   056346316     0563463  4 Fair     NaN   2 No  2 No
148  05634631602   056346316     0563463  3 Good     NaN    NaN   NaN
149  05634632601   056346326     0563463     NaN  3 Fair    NaN   NaN
150  05634632602   056346326     0563463  3 Good     NaN  1 Yes  2 No

    da005_1_ da005_2_ da005_3_  ... de017 de018  de019  de020  de021  de022  \
0       2 No     2 No     2 No  ...   NaN   NaN    NaN    NaN    NaN    NaN
1       2 No     2 No    1 Yes  ...   NaN   NaN    NaN    NaN    NaN    NaN
2       2 No     2 No     2 No  ...   NaN   NaN    NaN    NaN    NaN    NaN
3       2 No     2 No     2 No  ...   NaN   NaN    NaN    NaN    NaN    NaN
4       2 No     2 No     2 No  ...   NaN   NaN    NaN    NaN    NaN    NaN
..       ...      ...      ...  ...   ...   ...    ...    ...    ...    ...
146     2 No     2 No     2 No  ...   NaN   NaN    NaN    NaN    NaN    NaN
147     2 No     2 No     2 No  ...   NaN   NaN    NaN    NaN    NaN    NaN
148     2 No     2 No     2 No  ...   NaN   NaN    NaN    NaN    NaN    NaN
149     2 No     2 No     2 No  ...   NaN   NaN    NaN    NaN    NaN    NaN
150     2 No     2 No     2 No  ...   NaN   NaN    NaN    NaN    NaN    NaN

     de023 de024 flda081_1  proxy
0      NaN   NaN      75Ëê   0 No
1      NaN   NaN      75Ëê   0 No
2      NaN   NaN      80Ëê   0 No
3      NaN   NaN      75Ëê   0 No
4      NaN   NaN      75Ëê   0 No
..     ...   ...       ...    ...
146    NaN   NaN      75Ëê   0 No
147    NaN   NaN      75Ëê   0 No
148    NaN   NaN            1 Yes
149    NaN   NaN            1 Yes
150    NaN   NaN      75Ëê   0 No

[151 rows x 591 columns]
               ID householdID communityID  xrgender                 xrtype  \
0    056302101001  0563021010     0563021    1 Male  2 REIW Fowllup survey
1    056302101002  0563021010     0563021  2 Female  2 REIW Fowllup survey
2    056302102001  0563021020     0563021    1 Male  2 REIW Fowllup survey
3    056302104001  0563021040     0563021    1 Male  2 REIW Fowllup survey
4    056302104002  0563021040     0563021  2 Female  2 REIW Fowllup survey
..            ...         ...         ...       ...                    ...
157  056346324003  0563463240     0563463    1 Male  2 REIW Fowllup survey
158  056346326002  0563463260     0563463  2 Female  2 REIW Fowllup survey
159  056346327001  0563463270     0563463  2 Female  2 REIW Fowllup survey
160  056346327002  0563463270     0563463    1 Male  2 REIW Fowllup survey
161  056346328001  0563463280     0563463    1 Male  2 REIW Fowllup survey

    zda005_1_ zda005_2_ zda005_3_ zda005_4_ zda005_5_  ...  \
0        2 No      2 No      2 No      2 No      2 No  ...
1       1 Yes      2 No      2 No      2 No      2 No  ...
2        2 No      2 No      2 No      2 No      2 No  ...
3        2 No      2 No      2 No      2 No      2 No  ...
4        2 No      2 No      2 No      2 No      2 No  ...
..        ...       ...       ...       ...       ...  ...
157       NaN       NaN       NaN       NaN       NaN  ...
158      2 No      2 No      2 No      2 No      2 No  ...
159      2 No      2 No      2 No      2 No      2 No  ...
160      2 No      2 No      2 No      2 No      2 No  ...
161       NaN       NaN       NaN       NaN       NaN  ...

                 dc027s4              dc027s5              dc027s6  \
0                    NaN                  NaN                  NaN
1                    NaN                  NaN                  NaN
2                    NaN                  NaN                  NaN
3                    NaN                  NaN                  NaN
4    4 DC006_Wordlist[4]  5 DC006_Wordlist[5]                  NaN
..                   ...                  ...                  ...
157                  NaN                  NaN                  NaN
158                  NaN                  NaN                  NaN
159                  NaN                  NaN  6 DC006_Wordlist[6]
160                  NaN                  NaN                  NaN
161                  NaN                  NaN  6 DC006_Wordlist[6]

                 dc027s7              dc027s8              dc027s9  \
0                    NaN                  NaN  9 DC006_Wordlist[9]
1                    NaN  8 DC006_Wordlist[8]                  NaN
2                    NaN                  NaN                  NaN
3                    NaN                  NaN                  NaN
4                    NaN                  NaN  9 DC006_Wordlist[9]
..                   ...                  ...                  ...
157                  NaN                  NaN                  NaN
158                  NaN  8 DC006_Wordlist[8]  9 DC006_Wordlist[9]
159  7 DC006_Wordlist[7]  8 DC006_Wordlist[8]  9 DC006_Wordlist[9]
160                  NaN                  NaN                  NaN
161                  NaN                  NaN                  NaN

                  dc027s10 dc027s11                 dc028 versionID
0                      NaN      NaN  3 Somewhat satisfied  20151118
1                      NaN      NaN      2 Very satisfied  20151118
2                      NaN      NaN                   NaN  20151118
3                      NaN  11 None      2 Very satisfied  20151118
4                      NaN      NaN      2 Very satisfied  20151118
..                     ...      ...                   ...       ...
157                    NaN      NaN      2 Very satisfied  20151118
158                    NaN      NaN  3 Somewhat satisfied  20151118
159  10 DC006_Wordlist[10]      NaN  4 Not very satisfied  20151118
160                    NaN  11 None  3 Somewhat satisfied  20151118
161                    NaN      NaN  3 Somewhat satisfied  20151118

[162 rows x 1220 columns]
               ID householdID communityID  xrgender                 xrtype  \
0    056302109001  0563021090     0563021  2 Female  2 REIW Fowllup Survey
1    056302126001  0563021260     0563021    1 Male  2 REIW Fowllup Survey
2    056302126002  0563021260     0563021  2 Female  2 REIW Fowllup Survey
3    056302117002  0563021170     0563021  2 Female  2 REIW Fowllup Survey
4    056302142002  0563021420     0563021    1 Male  2 REIW Fowllup Survey
..            ...         ...         ...       ...                    ...
189  056346327001  0563463270     0563463  2 Female  2 REIW Fowllup Survey
190  056346316001  0563463160     0563463  2 Female  2 REIW Fowllup Survey
191  056346316002  0563463160     0563463    1 Male  2 REIW Fowllup Survey
192  056346332002  0563463320     0563463    1 Male  2 REIW Fowllup Survey
193  056346332001  0563463320     0563463  2 Female  2 REIW Fowllup Survey

    zda005_1_ zda005_2_ zda005_3_ zda005_4_ zda005_5_  ...  dc035_w3_2  \
0         NaN       NaN       NaN       NaN       NaN  ...          10
1         NaN       NaN     1 Yes       NaN       NaN  ...
2         NaN       NaN     1 Yes       NaN       NaN  ...
3         NaN       NaN       NaN       NaN       NaN  ...
4         NaN       NaN       NaN       NaN       NaN  ...          12
..        ...       ...       ...       ...       ...  ...         ...
189       NaN       NaN       NaN       NaN       NaN  ...          16
190       NaN       NaN       NaN       NaN       NaN  ...
191       NaN       NaN       NaN       NaN       NaN  ...
192       NaN       NaN       NaN       NaN       NaN  ...
193       NaN       NaN       NaN       NaN       NaN  ...          12

     dc035_w3_3  dc035_w3_3_1  dc035_w3_3_2               dc042_w3  \
0            .E             8             8  3 Some What Satisfied
1                                            3 Some What Satisfied
2                                             4 Not Very Satisfied
3                                             4 Not Very Satisfied
4            .E             9             9  3 Some What Satisfied
..          ...           ...           ...                    ...
189          .E             8             9   4 Not Very Satisfied
190                                          3 Some What Satisfied
191                                          3 Some What Satisfied
192                                          3 Some What Satisfied
193          .E             9             9   4 Not Very Satisfied

                   dc043_w3               dc044_w3                   dc028  \
0                       NaN  3 Some What Satisfied   3 Some What Satisfied
1     3 Some What Satisfied  3 Some What Satisfied        2 Very Satisfied
2     3 Some What Satisfied  3 Some What Satisfied   3 Some What Satisfied
3                       NaN       2 Very Satisfied        2 Very Satisfied
4          2 Very Satisfied       2 Very Satisfied        2 Very Satisfied
..                      ...                    ...                     ...
189  5 Not at All Satisfied  3 Some What Satisfied    4 Not Very Satisfied
190   3 Some What Satisfied  3 Some What Satisfied  1 Completely Satisfied
191   3 Some What Satisfied       2 Very Satisfied        2 Very Satisfied
192   3 Some What Satisfied  3 Some What Satisfied  5 Not at All Satisfied
193   3 Some What Satisfied  3 Some What Satisfied   3 Some What Satisfied

    proxy versionID
0       0  20171011
1       0  20171011
2       0  20171011
3       0  20171011
4       0  20171011
..    ...       ...
189     0  20171011
190     0  20171011
191     0  20171011
192     0  20171011
193     0  20171011

[194 rows x 1059 columns]

2. Background

In [12]:

def add_city_with_two_background(commuity_iD, year, data):
    df_2011_backgrnd_city1_ID1= data[data["communityID"] == commuity_iD[0]]
    df_2011_backgrnd_city1_ID2 = data[data["communityID"] == commuity_iD[1]]
    df_2011_backgrnd_city1_ID3 = data[data["communityID"] == commuity_iD[2]]
    df_2011_backgrnd_city1_ID4 = data[data["communityID"] == commuity_iD[3]]
    df_2011_backgrnd_city1 = pd.concat([df_2011_backgrnd_city1_ID1,df_2011_backgrnd_city1_ID2,  df_2011_backgrnd_city1_ID3, df_2011_backgrnd_city1_ID4], ignore_index=True)
    df_2011_background_info = pd.DataFrame()
    df_2011_background_info["Year"] = [year for i in range(len(df_2011_backgrnd_city1))]
    df_2011_background_info["ID"] = df_2011_backgrnd_city1["ID"]
    df_2011_background_info["HouseHoldID"] = df_2011_backgrnd_city1["householdID"]
    df_2011_background_info["communityID"] = df_2011_backgrnd_city1["communityID"]
    df_2011_background_info["birth_year"] = df_2011_backgrnd_city1["ba002_1"]
    df_2011_background_info["birth_month"] = df_2011_backgrnd_city1["ba002_2"]
    df_2011_background_info["birth_day"] = df_2011_backgrnd_city1["ba002_3"]
    return df_2011_background_info

In [13]:
df_2011_backgrnd = pd.read_stata("../2011_WAVE_1/demographic_background.dta")
df_2013_backgrnd = pd.read_stata("../CHARLS2013_WAVE2/Demographic_Background.dta")
df_2015_backgrnd = pd.read_stata("../CHARLS2015_WAVE3/Demographic_Background.dta")

In [14]:
res1 = add_city_with_two_background(["0563021", "0563022", "0563462","0563463"], 2011, df_2011_backgrnd)
res2 = add_city_with_two_background(["0563021", "0563022","0563462" ,"0563463" ], 2013, df_2013_backgrnd)
res3 = add_city_with_two_background(["0563021", "0563022", "0563462", "0563463"], 2015, df_2015_backgrnd)

complete_background_city1 = pd.concat([res1, res2, res3], ignore_index=True)
complete_background_city1["province"] = "ËÄ´¨Ê¡"
complete_background_city1["city"] = "ÒË±öÊÐ"
complete_background_city1["urban_nbs"] = "Urban"
# complete_background_city1.to_csv("complet_background_city13.csv", index = False)

3. Housing

In [15]:
def add_city_with_two_housing(commuity_iD, year, data):
    df_2011_housing_xstics_IDI1= data[data["communityID"] == commuity_iD[0]]
    df_2011_housing_xstics_IDI2 = data[data["communityID"] == commuity_iD[1]]
    df_2011_housing_xstics_IDI3 = data[data["communityID"] == commuity_iD[2]]
    df_2011_housing_xstics_IDI4 = data[data["communityID"] == commuity_iD[3]]
    df_2011_housing_xstics_city1 = pd.concat([df_2011_housing_xstics_IDI1,df_2011_housing_xstics_IDI2,  df_2011_housing_xstics_IDI3 , df_2011_housing_xstics_IDI4 ], ignore_index=True)
    df_2011_housing_info  = pd.DataFrame()
    df_2011_housing_info["Year"] = [year for i in range(len(df_2011_housing_xstics_city1))]
    df_2011_housing_info["HouseHoldID"] = df_2011_housing_xstics_city1["householdID"]
    df_2011_housing_info["communityID"] = df_2011_housing_xstics_city1["communityID"]
    df_2011_housing_info["has_running_water"] = df_2011_housing_xstics_city1["i017"]
    df_2011_housing_info["inhouse_shower_Bath"] = df_2011_housing_xstics_city1["i018"] 
    df_2011_housing_info["cooking_fuel_source"] = df_2011_housing_xstics_city1["i022"] 
    return df_2011_housing_info

In [16]:
# 2011
df_2011_housing_xstics = pd.read_stata("../2011_WAVE_1/housing_characteristics.dta")
df_2011_community = pd.read_stata("../2011_WAVE_1/community.dta")
# 2013
df_2013_housing_xstics = pd.read_stata("../CHARLS2013_WAVE2/Housing_Characteristics.dta")
#2015
df_2015_housing_xstics = pd.read_stata("../CHARLS2015_WAVE3/Housing_Characteristics.dta")

In [17]:
res1 = add_city_with_two_housing(["0563021", "0563022","0563462", "0563463" ], 2011, df_2011_housing_xstics)
res2 = add_city_with_two_housing(["0563021", "0563022","0563462", "0563463" ], 2013, df_2013_housing_xstics)
res3 = add_city_with_two_housing(["0563021", "0563022", "0563462", "0563463" ], 2015, df_2015_housing_xstics)

complete_housing_city1 = pd.concat([res1, res2, res3], ignore_index=True)
complete_housing_city1["province"] = "ËÄ´¨Ê¡"
complete_housing_city1["city"] = "ÒË±öÊÐ"
complete_housing_city1["urban_nbs"] = "Urban"
# complete_health_city1
# complete_housing_city1.to_csv("complet_housing_city13.csv", index = False)

4. Community

In [18]:
def add_city_with_two_comm(commuity_iD, year, data):
    df_2011_community_ID1= data[data["communityID"] == commuity_iD[0]]
    df_2011_community_ID2 = data[data["communityID"] == commuity_iD[1]]
    df_2011_community_ID3 = data[data["communityID"] == commuity_iD[2]]
    df_2011_community_ID4 = data[data["communityID"] == commuity_iD[3]]
    df_2011_community_city = pd.concat([df_2011_community_ID1,df_2011_community_ID2,  df_2011_community_ID3, df_2011_community_ID4 ], ignore_index=True)
    df_2011_community_info = pd.DataFrame()
    df_2011_community_info["Year"] = [year for i in range(len(df_2011_community_city))]
    df_2011_community_info["communityID"] = df_2011_community_city["communityID"]
    df_2011_community_info["main_toilet_type"] = df_2011_community_city["jb013"]
    df_2011_community_info["sewage_sys"] = df_2011_community_city["jb010"]
    df_2011_community_info["waste_management"] = df_2011_community_city["jb012"]
    df_2011_community_info["road_type"] = df_2011_community_city["jb001"]
    df_2011_community_info["province"] = "ËÄ´¨Ê¡"
    df_2011_community_info["city"] = "ÒË±öÊÐ"
    df_2011_community_info["urban_nbs"] = "Urban"
    return df_2011_community_info
    # 1. 0940041 , 0940042,  0940043, ±±¾©
    # 2. 3452333   3477633 ¹óÖÝÊ¡,  Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ
    # 3. 0104462  0104461 ÔÆÄÏÊ¡ ÕÑÍ¨ÊÐ
    # 4. 0140512     0140311     0140511     0140313 ÔÆÄÏÊ¡, À¥Ã÷ÊÐ
    # 5. 0146431    0146432 ÔÆÄÏÊ¡, ÁÙ²×ÊÐ
    # 6. 1940373     1940371     1940372, Ìì½ò, Ìì½ò
    # 7. 0896762    0896763 ÐÂ½®Î¬Îá¶û×ÔÖÎÇø  	°¢¿ËËÕµØÇø
    # 8. 1082592    1082593 ÄÚÃÉ¹Å×ÔÖÎÇø, ºôÂ×±´¶ûÊÐ
    # 9. 1053813    1053811  ÄÚÃÉ¹Å×ÔÖÎÇø ³à·åÊÐ
    # 10. 1040043    1040041    1040042 ÄÚÃÉ¹Å×ÔÖÎÇø ºôºÍºÆÌØÊÐ
    # 11. 1051022     1051021    1051023 ÄÚÃÉ¹Å×ÔÖÎÇø ÐË°²ÃË
    # 12. 0540541, 0540542, 0540543, ËÄ´¨Ê¡, ³É¶¼ÊÐ
    #13.  0563021,  0563022,  0563462,  0563463, ËÄ´¨Ê¡,  ÒË±öÊÐ

In [19]:
res1 = add_city_with_two_comm(["0563021", "0563022", "0563462", "0563463"], 2011, df_2011_community)
# res1.to_csv("complet_community_city13.csv")

Combining data set

In [20]:
df_background1 = pd.read_csv("../CITIES/complet_background_city1.csv")
df_background2 = pd.read_csv("../CITIES/complet_background_city2.csv")
df_background3 = pd.read_csv("../CITIES/complet_background_city3.csv")
df_background4 = pd.read_csv("../CITIES/complet_background_city4.csv")
df_background5 = pd.read_csv("../CITIES/complet_background_city5.csv")
df_background6 = pd.read_csv("../CITIES/complet_background_city6.csv")
df_background7 = pd.read_csv("../CITIES/complet_background_city7.csv")
df_background8 = pd.read_csv("../CITIES/complet_background_city8.csv")
df_background9 = pd.read_csv("../CITIES/complet_background_city9.csv")
df_background10 = pd.read_csv("../CITIES/complet_background_city10.csv")
df_background11 = pd.read_csv("../CITIES/complet_background_city11.csv")
df_background12 = pd.read_csv("../CITIES/complet_background_city12.csv")
df_background13 = pd.read_csv("../CITIES/complet_background_city13.csv")

new_background = pd.concat([df_background1, df_background2, df_background3, df_background4, df_background5, df_background6, df_background7, df_background8, df_background9, df_background10, df_background11, df_background12, df_background13])

def calculate_age(row):
    return row['Year'] - row['birth_year']

# # Apply the calculate_age function to each row to create the new 'age_cal' column
new_background['age_cal'] = new_background.apply(calculate_age, axis=1)
background_info = new_background
background_info

,Year,ID,HouseHoldID,communityID,birth_year,birth_month,birth_day,province,city,urban_nbs,age_cal
0,2011,9400410101,94004101,940041,1943.0,12.0,27.0,±±¾©,±±¾©,Urban,68.0
1,2011,9400410102,94004101,940041,1951.0,12.0,17.0,±±¾©,±±¾©,Urban,60.0
2,2011,9400410201,94004102,940041,1926.0,9.0,22.0,±±¾©,±±¾©,Urban,85.0
3,2011,9400410301,94004103,940041,1934.0,10.0,10.0,±±¾©,±±¾©,Urban,77.0
4,2011,9400410401,94004104,940041,1949.0,9.0,18.0,±±¾©,±±¾©,Urban,62.0
...,...,...,...,...,...,...,...,...,...,...,...
509,2015,56346327001,563463270,563463,NaN,NaN,NaN,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,NaN
510,2015,56346316001,563463160,563463,NaN,NaN,NaN,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,NaN
511,2015,56346316002,563463160,563463,1938.0,12.0,11.0,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,77.0
512,2015,56346332002,563463320,563463,NaN,NaN,NaN,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,NaN
513,2015,56346332001,563463320,563463,NaN,NaN,NaN,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,NaN

In [21]:
df_health1 = pd.read_csv("../CITIES/complet_health_city1.csv")
df_health2 = pd.read_csv("../CITIES/complet_health_city2.csv")
df_health3 = pd.read_csv("../CITIES/complet_health_city3.csv")
df_health4 = pd.read_csv("../CITIES/complet_health_city4.csv")
df_health5 = pd.read_csv("../CITIES/complet_health_city5.csv")
df_health6 = pd.read_csv("../CITIES/complet_health_city6.csv")
df_health7 = pd.read_csv("../CITIES/complet_health_city7.csv")
df_health8 = pd.read_csv("../CITIES/complet_health_city8.csv")
df_health9 = pd.read_csv("../CITIES/complet_health_city9.csv")
df_health10 = pd.read_csv("../CITIES/complet_health_city10.csv")
df_health11 = pd.read_csv("../CITIES/complet_health_city11.csv")
df_health12 = pd.read_csv("../CITIES/complet_health_city12.csv")
df_health13 = pd.read_csv("../CITIES/complet_health_city13.csv")


new_health = pd.concat([df_health1, df_health2, df_health3, df_health4, df_health5, df_health6, df_health7, df_health8, df_health9, df_health10, df_health11, df_health12, df_health13])
health_info = new_health
health_info

,Year,ID,HouseHoldID,communityID,self_com_on_health,hyp,mem_rel_dis,rheumatism,lung_dis,liver_dis,stomach_dis,province,city,urban_nbs
0,2011,9400411301,94004113,940041,4 Poor,1 Yes,2 No,2 No,2 No,2 No,2 No,±±¾©,±±¾©,Urban
1,2011,9400411302,94004113,940041,2 Good,2 No,2 No,2 No,2 No,2 No,2 No,±±¾©,±±¾©,Urban
2,2011,9400410301,94004103,940041,3 Fair,1 Yes,2 No,2 No,2 No,2 No,2 No,±±¾©,±±¾©,Urban
3,2011,9400411102,94004111,940041,3 Fair,2 No,2 No,2 No,2 No,2 No,2 No,±±¾©,±±¾©,Urban
4,2011,9400411101,94004111,940041,4 Poor,2 No,2 No,2 No,2 No,2 No,2 No,±±¾©,±±¾©,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,2015,56346327001,563463270,563463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban
503,2015,56346316001,563463160,563463,3 Fair,NaN,NaN,NaN,NaN,NaN,NaN,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban
504,2015,56346316002,563463160,563463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban
505,2015,56346332002,563463320,563463,5 Very poor,NaN,NaN,NaN,NaN,NaN,NaN,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban
506,2015,56346332001,563463320,563463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban

In [24]:
health_info.hyp.value_counts()

2 No     1249
1 Yes     476
Name: hyp, dtype: int64

In [25]:
df_housing1 = pd.read_csv("../CITIES/complet_housing_city1.csv")
df_housing2 = pd.read_csv("../CITIES/complet_housing_city2.csv")
df_housing3 = pd.read_csv("../CITIES/complet_housing_city3.csv")
df_housing4 = pd.read_csv("../CITIES/complet_housing_city4.csv")
df_housing5 = pd.read_csv("../CITIES/complet_housing_city5.csv")
df_housing6 = pd.read_csv("../CITIES/complet_housing_city6.csv")
df_housing7 = pd.read_csv("../CITIES/complet_housing_city7.csv")
df_housing8 = pd.read_csv("../CITIES/complet_housing_city8.csv")
df_housing9 = pd.read_csv("../CITIES/complet_housing_city9.csv")
df_housing10 = pd.read_csv("../CITIES/complet_housing_city10.csv")
df_housing11 = pd.read_csv("../CITIES/complet_housing_city11.csv")
df_housing12 = pd.read_csv("../CITIES/complet_housing_city12.csv")
df_housing13 = pd.read_csv("../CITIES/complet_housing_city13.csv")


new_housing = pd.concat([df_housing1, df_housing2, df_housing3, df_housing4, df_housing5, df_housing6, df_housing7, df_housing8, df_housing9, df_housing10, df_housing11, df_housing12, df_housing13])
housing_info = new_housing
housing_info

,Year,HouseHoldID,communityID,has_running_water,inhouse_shower_Bath,cooking_fuel_source,province,city,urban_nbs
0,2011,94004113,940041,1 Yes,2 Water heater installed by the household,2 Natural gas,±±¾©,±±¾©,Urban
1,2011,94004103,940041,1 Yes,2 Water heater installed by the household,2 Natural gas,±±¾©,±±¾©,Urban
2,2011,94004111,940041,1 Yes,2 Water heater installed by the household,4 Liquefied Petroleum Gas,±±¾©,±±¾©,Urban
3,2011,94004105,940041,1 Yes,3 No,2 Natural gas,±±¾©,±±¾©,Urban
4,2011,94004110,940041,1 Yes,2 Water heater installed by the household,2 Natural gas,±±¾©,±±¾©,Urban
...,...,...,...,...,...,...,...,...,...
294,2015,563463290,563463,1 Yes,2 Water Heater Installed by The Household,2 Natural Gas,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban
295,2015,563463040,563463,1 Yes,2 Water Heater Installed by The Household,2 Natural Gas,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban
296,2015,563463270,563463,1 Yes,2 Water Heater Installed by The Household,2 Natural Gas,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban
297,2015,563463160,563463,1 Yes,2 Water Heater Installed by The Household,2 Natural Gas,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban
298,2015,563463320,563463,1 Yes,2 Water Heater Installed by The Household,2 Natural Gas,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban

In [26]:
df_com1 = pd.read_csv("../CITIES/complet_community_city1.csv")
df_com2 = pd.read_csv("../CITIES/complet_community_city2.csv")
df_com3 = pd.read_csv("../CITIES/complet_community_city3.csv")
df_com4 = pd.read_csv("../CITIES/complet_community_city4.csv")
df_com5 = pd.read_csv("../CITIES/complet_community_city5.csv")
df_com6 = pd.read_csv("../CITIES/complet_community_city6.csv")
df_com7 = pd.read_csv("../CITIES/complet_community_city7.csv")
df_com8 = pd.read_csv("../CITIES/complet_community_city8.csv")
df_com9 = pd.read_csv("../CITIES/complet_community_city9.csv")
df_com10 = pd.read_csv("../CITIES/complet_community_city10.csv")
df_com11 = pd.read_csv("../CITIES/complet_community_city11.csv")
df_com12 = pd.read_csv("../CITIES/complet_community_city12.csv")
df_com13 = pd.read_csv("../CITIES/complet_community_city13.csv")


new_com = pd.concat([df_com1, df_com2, df_com3, df_com4, df_com5, df_com6, df_com7, df_com8, df_com9, df_com10, df_com11, df_com12, df_com13])
new_com = new_com.drop(columns= ["Unnamed: 0"])
comm_info = new_com
comm_info

,Year,communityID,main_toilet_type,sewage_sys,waste_management,road_type,province,city,urban_nbs
0,2011,940041,3 Outside toilet with water,1 Yes,1 Moved away by truck,1 Paved road,±±¾©,±±¾©,Urban
1,2011,940042,1 Inside toilet with water,1 Yes,1 Moved away by truck,1 Paved road,±±¾©,±±¾©,Urban
2,2011,940043,1 Inside toilet with water,1 Yes,1 Moved away by truck,1 Paved road,±±¾©,±±¾©,Urban
0,2011,3452333,4 Outside public toilet without water,1 Yes,1 Moved away by truck,1 Paved road,¹óÖÝÊ¡,Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ,Urban
1,2011,3477633,1 Inside toilet with water,1 Yes,1 Moved away by truck,1 Paved road,¹óÖÝÊ¡,Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ,Urban
0,2011,104462,5 Open-air,2 No,5 Do not manage,2 Pathway/Dirt/unpaved road,ÔÆÄÏÊ¡,ÕÑÍ¨ÊÐ,Urban
1,2011,104461,5 Open-air,2 No,5 Do not manage,2 Pathway/Dirt/unpaved road,ÔÆÄÏÊ¡,ÕÑÍ¨ÊÐ,Urban
0,2011,140512,5 Open-air,2 No,5 Do not manage,1 Paved road,ÔÆÄÏÊ¡,À¥Ã÷ÊÐ,Urban
1,2011,140311,1 Inside toilet with water,1 Yes,1 Moved away by truck,1 Paved road,ÔÆÄÏÊ¡,À¥Ã÷ÊÐ,Urban
2,2011,140511,4 Outside public toilet without water,1 Yes,1 Moved away by truck,1 Paved road,ÔÆÄÏÊ¡,À¥Ã÷ÊÐ,Urban
3,2011,140313,1 Inside toilet with water,1 Yes,1 Moved away by truck,1 Paved road,ÔÆÄÏÊ¡,À¥Ã÷ÊÐ,Urban
0,2011,146431,4 Outside public toilet without water,2 No,1 Moved away by truck,1 Paved road,ÔÆÄÏÊ¡,ÁÙ²×ÊÐ,Urban
1,2011,146432,3 Outside toilet with water,1 Yes,1 Moved away by truck,1 Paved road,ÔÆÄÏÊ¡,ÁÙ²×ÊÐ,Urban
0,2011,1940373,1 Inside toilet with water,1 Yes,1 Moved away by truck,1 Paved road,Ìì½ò,Ìì½ò,Urban
1,2011,1940371,4 Outside public toilet without water,1 Yes,1 Moved away by truck,1 Paved road,Ìì½ò,Ìì½ò,Urban
2,2011,1940372,1 Inside toilet with water,1 Yes,1 Moved away by truck,1 Paved road,Ìì½ò,Ìì½ò,Urban
0,2011,896762,3 Outside toilet with water,1 Yes,1 Moved away by truck,1 Paved road,ÐÂ½®Î¬Îá¶û×ÔÖÎÇø,°¢¿ËËÕµØÇø,Urban
1,2011,896763,5 Open-air,1 Yes,1 Moved away by truck,1 Paved road,ÐÂ½®Î¬Îá¶û×ÔÖÎÇø,°¢¿ËËÕµØÇø,Urban
0,2011,1082592,4 Outside public toilet without water,2 No,1 Moved away by truck,3 Sand-stone road,ÄÚÃÉ¹Å×ÔÖÎÇø,ºôÂ×±´¶ûÊÐ,Urban
1,2011,1082593,4 Outside public toilet without water,1 Yes,3 Burn away,3 Sand-stone road,ÄÚÃÉ¹Å×ÔÖÎÇø,ºôÂ×±´¶ûÊÐ,Urban
0,2011,1053813,5 Open-air,1 Yes,1 Moved away by truck,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,³à·åÊÐ,Urban
1,2011,1053811,2 Inside toilet without water,1 Yes,1 Moved away by truck,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,³à·åÊÐ,Urban
0,2011,1040043,1 Inside toilet with water,1 Yes,1 Moved away by truck,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,ºôºÍºÆÌØÊÐ,Urban
1,2011,1040041,1 Inside toilet with water,2 No,2 Buried in this village,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,ºôºÍºÆÌØÊÐ,Urban
2,2011,1040042,2 Inside toilet without water,1 Yes,1 Moved away by truck,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,ºôºÍºÆÌØÊÐ,Urban
0,2011,1051022,4 Outside public toilet without water,1 Yes,1 Moved away by truck,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban
1,2011,1051021,4 Outside public toilet without water,2 No,1 Moved away by truck,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban
2,2011,1051023,1 Inside toilet with water,1 Yes,1 Moved away by truck,1 Paved road,ÄÚÃÉ¹Å×ÔÖÎÇø,ÐË°²ÃË,Urban
0,2011,540541,5 Open-air,2 No,1 Moved away by truck,1 Paved road,ËÄ´¨Ê¡,³É¶¼ÊÐ,Urban
1,2011,540541,5 Open-air,2 No,1 Moved away by truck,1 Paved road,ËÄ´¨Ê¡,³É¶¼ÊÐ,Urban
2,2011,540541,5 Open-air,2 No,1 Moved away by truck,1 Paved road,ËÄ´¨Ê¡,³É¶¼ÊÐ,Urban
0,2011,563021,1 Inside toilet with water,1 Yes,2 Buried in this village,1 Paved road,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban
1,2011,563022,1 Inside toilet with water,1 Yes,3 Burn away,1 Paved road,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban
2,2011,563462,1 Inside toilet with water,2 No,2 Buried in this village,2 Pathway/Dirt/unpaved road,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban
3,2011,563463,1 Inside toilet with water,1 Yes,1 Moved away by truck,1 Paved road,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban

In [28]:
comm_info["waste_management"].value_counts()

1 Moved away by truck       27
5 Do not manage              3
2 Buried in this village     3
3 Burn away                  2
Name: waste_management, dtype: int64

Merging the Data

In [29]:
import pandas as pd

import pandas as pd

merged_df = background_info.merge(housing_info[['HouseHoldID', 'communityID','has_running_water','inhouse_shower_Bath','cooking_fuel_source', ]], on=['HouseHoldID', 'communityID'], how='left')

merged_df_health = merged_df.merge(health_info[['HouseHoldID', 'communityID', 'self_com_on_health', 'hyp', 'mem_rel_dis', 'rheumatism', 'lung_dis','liver_dis', 'stomach_dis']], on=['HouseHoldID', 'communityID'], how='left')
merged_df_comm = merged_df_health.merge(comm_info[['communityID', 'main_toilet_type', 'sewage_sys', 'road_type', "waste_management" ]], on=['communityID'], how='left')
merged_df_comm

,Year,ID,HouseHoldID,communityID,birth_year,birth_month,birth_day,province,city,urban_nbs,...,hyp,mem_rel_dis,rheumatism,lung_dis,liver_dis,stomach_dis,main_toilet_type,sewage_sys,road_type,waste_management
0,2011,9400410101,94004101,940041,1943.0,12.0,27.0,±±¾©,±±¾©,Urban,...,1 Yes,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road,1 Moved away by truck
1,2011,9400410101,94004101,940041,1943.0,12.0,27.0,±±¾©,±±¾©,Urban,...,2 No,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road,1 Moved away by truck
2,2011,9400410102,94004101,940041,1951.0,12.0,17.0,±±¾©,±±¾©,Urban,...,1 Yes,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road,1 Moved away by truck
3,2011,9400410102,94004101,940041,1951.0,12.0,17.0,±±¾©,±±¾©,Urban,...,2 No,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road,1 Moved away by truck
4,2011,9400410201,94004102,940041,1926.0,9.0,22.0,±±¾©,±±¾©,Urban,...,1 Yes,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road,1 Moved away by truck
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23678,2015,56346316002,563463160,563463,1938.0,12.0,11.0,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,...,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road,1 Moved away by truck
23679,2015,56346332002,563463320,563463,NaN,NaN,NaN,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,...,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road,1 Moved away by truck
23680,2015,56346332002,563463320,563463,NaN,NaN,NaN,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,...,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road,1 Moved away by truck
23681,2015,56346332001,563463320,563463,NaN,NaN,NaN,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,...,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road,1 Moved away by truck
23682,2015,56346332001,563463320,563463,NaN,NaN,NaN,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,...,NaN,NaN,NaN,NaN,NaN,NaN,1 Inside toilet with water,1 Yes,1 Paved road,1 Moved away by truck

dropping the DOB coulumns since we have age calculated

In [32]:
data = merged_df_comm.drop(columns=[ "birth_month", "birth_year", "birth_day"])
data.shape

(23683, 22)

In [31]:
data.isna().sum()

Year                       0
ID                         0
HouseHoldID                0
communityID                0
province                   0
city                       0
urban_nbs                  0
age_cal                17106
has_running_water         81
inhouse_shower_Bath      104
cooking_fuel_source       97
self_com_on_health     11789
hyp                    19191
mem_rel_dis            19153
rheumatism             19151
lung_dis               19156
liver_dis              19159
stomach_dis            19143
main_toilet_type        2229
sewage_sys              2229
road_type               2229
waste_management        2229
dtype: int64

Dropping null Values

In [33]:
data.dropna(inplace=True)

Counting the households for the years

In [34]:
data["Year"].value_counts()

2011    1320
2013     333
2015      45
Name: Year, dtype: int64

In [35]:
data.isna().sum()

Year                   0
ID                     0
HouseHoldID            0
communityID            0
province               0
city                   0
urban_nbs              0
age_cal                0
has_running_water      0
inhouse_shower_Bath    0
cooking_fuel_source    0
self_com_on_health     0
hyp                    0
mem_rel_dis            0
rheumatism             0
lung_dis               0
liver_dis              0
stomach_dis            0
main_toilet_type       0
sewage_sys             0
road_type              0
waste_management       0
dtype: int64

In [36]:
data

,Year,ID,HouseHoldID,communityID,province,city,urban_nbs,age_cal,has_running_water,inhouse_shower_Bath,...,hyp,mem_rel_dis,rheumatism,lung_dis,liver_dis,stomach_dis,main_toilet_type,sewage_sys,road_type,waste_management
5,2011,9400410301,94004103,940041,±±¾©,±±¾©,Urban,77.0,1 Yes,2 Water heater installed by the household,...,1 Yes,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road,1 Moved away by truck
11,2011,9400410501,94004105,940041,±±¾©,±±¾©,Urban,58.0,1 Yes,3 No,...,2 No,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road,1 Moved away by truck
13,2011,9400410502,94004105,940041,±±¾©,±±¾©,Urban,59.0,1 Yes,3 No,...,2 No,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road,1 Moved away by truck
16,2011,9400410801,94004108,940041,±±¾©,±±¾©,Urban,73.0,1 Yes,2 Water heater installed by the household,...,1 Yes,2 No,2 No,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road,1 Moved away by truck
17,2011,9400410901,94004109,940041,±±¾©,±±¾©,Urban,53.0,1 Yes,2 Water heater installed by the household,...,2 No,2 No,1 Yes,2 No,2 No,2 No,3 Outside toilet with water,1 Yes,1 Paved road,1 Moved away by truck
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22996,2015,56302222001,563022220,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,54.0,1 Yes,3 No,...,1 Yes,2 No,2 No,2 No,2 No,2 No,1 Inside toilet with water,1 Yes,1 Paved road,3 Burn away
22999,2015,56302222001,563022220,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,54.0,1 Yes,3.0,...,2 No,2 No,2 No,2 No,2 No,2 No,1 Inside toilet with water,1 Yes,1 Paved road,3 Burn away
23000,2015,56302222001,563022220,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,54.0,1 Yes,3.0,...,1 Yes,2 No,2 No,2 No,2 No,2 No,1 Inside toilet with water,1 Yes,1 Paved road,3 Burn away
23159,2015,56302219001,563022190,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,60.0,1 Yes,3 No,...,1 Yes,2 No,1 Yes,2 No,2 No,1 Yes,1 Inside toilet with water,1 Yes,1 Paved road,3 Burn away
23163,2015,56302219001,563022190,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,60.0,1 Yes,3.0,...,1 Yes,2 No,1 Yes,2 No,2 No,1 Yes,1 Inside toilet with water,1 Yes,1 Paved road,3 Burn away

Description of Data

In [37]:
variables = ['communityID', 'province', 'city', 'urban_nbs', 'age_cal', 'has_running_water', 'inhouse_shower_Bath','cooking_fuel_source', 'hyp', 'mem_rel_dis', 'self_com_on_health', 'rheumatism', 'lung_dis', 'liver_dis', 'stomach_dis', 'main_toilet_type', 'sewage_sys', 'waste_management', 'road_type']
for  var in variables:
    print(var)
    print("--------------------------------")
    print(data[var].value_counts())
    print("--------------------------------")

communityID
--------------------------------
540541     177
1082592    101
1082593     86
1051022     86
563021      72
1051021     67
1940371     62
1940372     62
104462      60
896763      60
896762      54
1940373     54
1053813     51
1040041     50
146431      47
940042      46
140311      46
140512      45
1053811     44
146432      38
563022      38
104461      37
563463      35
1051023     34
563462      33
1040043     32
140313      32
3452333     31
940041      31
140511      27
1040042     26
3477633     24
940043      10
Name: communityID, dtype: int64
--------------------------------
province
--------------------------------
ÄÚÃÉ¹Å×ÔÖÎÇø        577
ËÄ´¨Ê¡              355
ÔÆÄÏÊ¡              332
Ìì½ò                178
ÐÂ½®Î¬Îá¶û×ÔÖÎÇø    114
±±¾©                 87
¹óÖÝÊ¡               55
Name: province, dtype: int64
--------------------------------
city
--------------------------------
ºôÂ×±´¶ûÊÐ              187
ÐË°²ÃË                  187
Ìì½ò                    178
ÒË±öÊÐ                  178
³É¶¼ÊÐ                  177
À¥Ã÷ÊÐ                  150
°¢¿ËËÕµØÇø              114
ºôºÍºÆÌØÊÐ              108
ÕÑÍ¨ÊÐ                   97
³à·åÊÐ                   95
±±¾©                     87
ÁÙ²×ÊÐ                   85
Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ     55
Name: city, dtype: int64
--------------------------------
urban_nbs
--------------------------------
Urban    1698
Name: urban_nbs, dtype: int64
--------------------------------
age_cal
--------------------------------
47.0    98
49.0    94
48.0    89
46.0    87
57.0    80
58.0    74
56.0    73
54.0    64
51.0    63
53.0    60
65.0    59
50.0    57
60.0    55
59.0    50
45.0    49
64.0    46
61.0    46
62.0    44
52.0    44
55.0    38
69.0    37
63.0    34
71.0    28
75.0    27
70.0    27
66.0    27
67.0    25
44.0    23
68.0    23
74.0    21
72.0    18
77.0    17
73.0    17
76.0    17
78.0    15
43.0    11
83.0    10
40.0     8
79.0     7
80.0     6
42.0     6
81.0     4
82.0     4
88.0     3
84.0     2
35.0     2
41.0     2
34.0     2
33.0     1
39.0     1
89.0     1
90.0     1
38.0     1
Name: age_cal, dtype: int64
--------------------------------
has_running_water
--------------------------------
1 Yes    1122
2 No      576
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
3 No                                         766
2 Water heater installed by the household    741
2 Water Heater Installed by The Household    127
3.0                                           41
1 Hot water provided                          19
1 Hot Water Provided                           4
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
5 Electric                     433
2 Natural gas                  415
6 crop residue/Wood burning    298
4 Liquefied Petroleum Gas      194
1 Coal                         185
2 Natural Gas                   55
6 Crop Residue/Wood Burning     52
6 Crop residue/Wood burning     40
3 Marsh gas                     24
7 Other                          2
Name: cooking_fuel_source, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     1215
1 Yes     483
Name: hyp, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     1671
1 Yes      27
Name: mem_rel_dis, dtype: int64
--------------------------------
self_com_on_health
--------------------------------
3 Fair         829
4 Poor         344
2 Good         290
1 Very good    148
5 Very poor     87
Name: self_com_on_health, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     1133
1 Yes     565
Name: rheumatism, dtype: int64
--------------------------------
lung_dis
--------------------------------
2 No     1532
1 Yes     166
Name: lung_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     1648
1 Yes      50
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     1355
1 Yes     343
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
1 Inside toilet with water               568
4 Outside public toilet without water    507
5 Open-air                               430
3 Outside toilet with water              123
2 Inside toilet without water             70
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    1081
2 No      617
Name: sewage_sys, dtype: int64
--------------------------------
waste_management
--------------------------------
1 Moved away by truck       1277
2 Buried in this village     155
5 Do not manage              142
3 Burn away                  124
Name: waste_management, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road                   1381
3 Sand-stone road               187
2 Pathway/Dirt/unpaved road     130
Name: road_type, dtype: int64
--------------------------------

In [82]:
community_id = [540541, 940042, 1040041, 1082592, 1940372, 140311 , 896763, 1040043, 1051022, 146431, 1940373, 104462, 563463,1051021, 140511,104461, 1051023, 563021,563462, 140313 ,940041 ,    1053811 ,   1053813 ,
1040042, 1940371, 140512, 563022, 1082593, 896762, 3452333, 940043, 146432, 3477633  ]
variables = ['communityID', 'province', 'city', 'urban_nbs', 'age_cal', 'has_running_water', 'inhouse_shower_Bath','cooking_fuel_source', 'hyp', 'mem_rel_dis', 'self_com_on_health', 'rheumatism', 'lung_dis', 'liver_dis', 'stomach_dis', 'main_toilet_type', 'sewage_sys', 'waste_management', 'road_type']
for i in community_id:
    print(f"id---{i}")
    for  var in variables:
        print(f"{var}")
        print("--------------------------------")
        print(data[var].value_counts())
        print("--------------------------------")

id---540541
communityID
--------------------------------
540541     177
1082592    101
1082593     86
1051022     86
563021      72
1051021     67
1940371     62
1940372     62
104462      60
896763      60
896762      54
1940373     54
1053813     51
1040041     50
146431      47
940042      46
140311      46
140512      45
1053811     44
146432      38
563022      38
104461      37
563463      35
1051023     34
563462      33
1040043     32
140313      32
3452333     31
940041      31
140511      27
1040042     26
3477633     24
940043      10
Name: communityID, dtype: int64
--------------------------------
province
--------------------------------
ÄÚÃÉ¹Å×ÔÖÎÇø        577
ËÄ´¨Ê¡              355
ÔÆÄÏÊ¡              332
Ìì½ò                178
ÐÂ½®Î¬Îá¶û×ÔÖÎÇø    114
±±¾©                 87
¹óÖÝÊ¡               55
Name: province, dtype: int64
--------------------------------
city
--------------------------------
ºôÂ×±´¶ûÊÐ              187
ÐË°²ÃË                  187
Ìì½ò                    178
ÒË±öÊÐ                  178
³É¶¼ÊÐ                  177
À¥Ã÷ÊÐ                  150
°¢¿ËËÕµØÇø              114
ºôºÍºÆÌØÊÐ              108
ÕÑÍ¨ÊÐ                   97
³à·åÊÐ                   95
±±¾©                     87
ÁÙ²×ÊÐ                   85
Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ     55
Name: city, dtype: int64
--------------------------------
urban_nbs
--------------------------------
Urban    1698
Name: urban_nbs, dtype: int64
--------------------------------
age_cal
--------------------------------
47.0    98
49.0    94
48.0    89
46.0    87
57.0    80
58.0    74
56.0    73
54.0    64
51.0    63
53.0    60
65.0    59
50.0    57
60.0    55
59.0    50
45.0    49
64.0    46
61.0    46
62.0    44
52.0    44
55.0    38
69.0    37
63.0    34
71.0    28
75.0    27
70.0    27
66.0    27
67.0    25
44.0    23
68.0    23
74.0    21
72.0    18
77.0    17
73.0    17
76.0    17
78.0    15
43.0    11
83.0    10
40.0     8
79.0     7
80.0     6
42.0     6
81.0     4
82.0     4
88.0     3
84.0     2
35.0     2
41.0     2
34.0     2
33.0     1
39.0     1
89.0     1
90.0     1
38.0     1
Name: age_cal, dtype: int64
--------------------------------
has_running_water
--------------------------------
1 Yes    1122
2 No      576
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
3 No                                         766
2 Water heater installed by the household    741
2 Water Heater Installed by The Household    127
3.0                                           41
1 Hot water provided                          19
1 Hot Water Provided                           4
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
5 Electric                     433
2 Natural gas                  415
6 crop residue/Wood burning    298
4 Liquefied Petroleum Gas      194
1 Coal                         185
2 Natural Gas                   55
6 Crop Residue/Wood Burning     52
6 Crop residue/Wood burning     40
3 Marsh gas                     24
7 Other                          2
Name: cooking_fuel_source, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     1215
1 Yes     483
Name: hyp, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     1671
1 Yes      27
Name: mem_rel_dis, dtype: int64
--------------------------------
self_com_on_health
--------------------------------
3 Fair         829
4 Poor         344
2 Good         290
1 Very good    148
5 Very poor     87
Name: self_com_on_health, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     1133
1 Yes     565
Name: rheumatism, dtype: int64
--------------------------------
lung_dis
--------------------------------
2 No     1532
1 Yes     166
Name: lung_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     1648
1 Yes      50
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     1355
1 Yes     343
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
1 Inside toilet with water               568
4 Outside public toilet without water    507
5 Open-air                               430
3 Outside toilet with water              123
2 Inside toilet without water             70
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    1081
2 No      617
Name: sewage_sys, dtype: int64
--------------------------------
waste_management
--------------------------------
1 Moved away by truck       1277
2 Buried in this village     155
5 Do not manage              142
3 Burn away                  124
Name: waste_management, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road                   1381
3 Sand-stone road               187
2 Pathway/Dirt/unpaved road     130
Name: road_type, dtype: int64
--------------------------------
id---940042
communityID
--------------------------------
540541     177
1082592    101
1082593     86
1051022     86
563021      72
1051021     67
1940371     62
1940372     62
104462      60
896763      60
896762      54
1940373     54
1053813     51
1040041     50
146431      47
940042      46
140311      46
140512      45
1053811     44
146432      38
563022      38
104461      37
563463      35
1051023     34
563462      33
1040043     32
140313      32
3452333     31
940041      31
140511      27
1040042     26
3477633     24
940043      10
Name: communityID, dtype: int64
--------------------------------
province
--------------------------------
ÄÚÃÉ¹Å×ÔÖÎÇø        577
ËÄ´¨Ê¡              355
ÔÆÄÏÊ¡              332
Ìì½ò                178
ÐÂ½®Î¬Îá¶û×ÔÖÎÇø    114
±±¾©                 87
¹óÖÝÊ¡               55
Name: province, dtype: int64
--------------------------------
city
--------------------------------
ºôÂ×±´¶ûÊÐ              187
ÐË°²ÃË                  187
Ìì½ò                    178
ÒË±öÊÐ                  178
³É¶¼ÊÐ                  177
À¥Ã÷ÊÐ                  150
°¢¿ËËÕµØÇø              114
ºôºÍºÆÌØÊÐ              108
ÕÑÍ¨ÊÐ                   97
³à·åÊÐ                   95
±±¾©                     87
ÁÙ²×ÊÐ                   85
Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ     55
Name: city, dtype: int64
--------------------------------
urban_nbs
--------------------------------
Urban    1698
Name: urban_nbs, dtype: int64
--------------------------------
age_cal
--------------------------------
47.0    98
49.0    94
48.0    89
46.0    87
57.0    80
58.0    74
56.0    73
54.0    64
51.0    63
53.0    60
65.0    59
50.0    57
60.0    55
59.0    50
45.0    49
64.0    46
61.0    46
62.0    44
52.0    44
55.0    38
69.0    37
63.0    34
71.0    28
75.0    27
70.0    27
66.0    27
67.0    25
44.0    23
68.0    23
74.0    21
72.0    18
77.0    17
73.0    17
76.0    17
78.0    15
43.0    11
83.0    10
40.0     8
79.0     7
80.0     6
42.0     6
81.0     4
82.0     4
88.0     3
84.0     2
35.0     2
41.0     2
34.0     2
33.0     1
39.0     1
89.0     1
90.0     1
38.0     1
Name: age_cal, dtype: int64
--------------------------------
has_running_water
--------------------------------
1 Yes    1122
2 No      576
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
3 No                                         766
2 Water heater installed by the household    741
2 Water Heater Installed by The Household    127
3.0                                           41
1 Hot water provided                          19
1 Hot Water Provided                           4
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
5 Electric                     433
2 Natural gas                  415
6 crop residue/Wood burning    298
4 Liquefied Petroleum Gas      194
1 Coal                         185
2 Natural Gas                   55
6 Crop Residue/Wood Burning     52
6 Crop residue/Wood burning     40
3 Marsh gas                     24
7 Other                          2
Name: cooking_fuel_source, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     1215
1 Yes     483
Name: hyp, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     1671
1 Yes      27
Name: mem_rel_dis, dtype: int64
--------------------------------
self_com_on_health
--------------------------------
3 Fair         829
4 Poor         344
2 Good         290
1 Very good    148
5 Very poor     87
Name: self_com_on_health, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     1133
1 Yes     565
Name: rheumatism, dtype: int64
--------------------------------
lung_dis
--------------------------------
2 No     1532
1 Yes     166
Name: lung_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     1648
1 Yes      50
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     1355
1 Yes     343
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
1 Inside toilet with water               568
4 Outside public toilet without water    507
5 Open-air                               430
3 Outside toilet with water              123
2 Inside toilet without water             70
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    1081
2 No      617
Name: sewage_sys, dtype: int64
--------------------------------
waste_management
--------------------------------
1 Moved away by truck       1277
2 Buried in this village     155
5 Do not manage              142
3 Burn away                  124
Name: waste_management, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road                   1381
3 Sand-stone road               187
2 Pathway/Dirt/unpaved road     130
Name: road_type, dtype: int64
--------------------------------
id---1040041
communityID
--------------------------------
540541     177
1082592    101
1082593     86
1051022     86
563021      72
1051021     67
1940371     62
1940372     62
104462      60
896763      60
896762      54
1940373     54
1053813     51
1040041     50
146431      47
940042      46
140311      46
140512      45
1053811     44
146432      38
563022      38
104461      37
563463      35
1051023     34
563462      33
1040043     32
140313      32
3452333     31
940041      31
140511      27
1040042     26
3477633     24
940043      10
Name: communityID, dtype: int64
--------------------------------
province
--------------------------------
ÄÚÃÉ¹Å×ÔÖÎÇø        577
ËÄ´¨Ê¡              355
ÔÆÄÏÊ¡              332
Ìì½ò                178
ÐÂ½®Î¬Îá¶û×ÔÖÎÇø    114
±±¾©                 87
¹óÖÝÊ¡               55
Name: province, dtype: int64
--------------------------------
city
--------------------------------
ºôÂ×±´¶ûÊÐ              187
ÐË°²ÃË                  187
Ìì½ò                    178
ÒË±öÊÐ                  178
³É¶¼ÊÐ                  177
À¥Ã÷ÊÐ                  150
°¢¿ËËÕµØÇø              114
ºôºÍºÆÌØÊÐ              108
ÕÑÍ¨ÊÐ                   97
³à·åÊÐ                   95
±±¾©                     87
ÁÙ²×ÊÐ                   85
Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ     55
Name: city, dtype: int64
--------------------------------
urban_nbs
--------------------------------
Urban    1698
Name: urban_nbs, dtype: int64
--------------------------------
age_cal
--------------------------------
47.0    98
49.0    94
48.0    89
46.0    87
57.0    80
58.0    74
56.0    73
54.0    64
51.0    63
53.0    60
65.0    59
50.0    57
60.0    55
59.0    50
45.0    49
64.0    46
61.0    46
62.0    44
52.0    44
55.0    38
69.0    37
63.0    34
71.0    28
75.0    27
70.0    27
66.0    27
67.0    25
44.0    23
68.0    23
74.0    21
72.0    18
77.0    17
73.0    17
76.0    17
78.0    15
43.0    11
83.0    10
40.0     8
79.0     7
80.0     6
42.0     6
81.0     4
82.0     4
88.0     3
84.0     2
35.0     2
41.0     2
34.0     2
33.0     1
39.0     1
89.0     1
90.0     1
38.0     1
Name: age_cal, dtype: int64
--------------------------------
has_running_water
--------------------------------
1 Yes    1122
2 No      576
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
3 No                                         766
2 Water heater installed by the household    741
2 Water Heater Installed by The Household    127
3.0                                           41
1 Hot water provided                          19
1 Hot Water Provided                           4
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
5 Electric                     433
2 Natural gas                  415
6 crop residue/Wood burning    298
4 Liquefied Petroleum Gas      194
1 Coal                         185
2 Natural Gas                   55
6 Crop Residue/Wood Burning     52
6 Crop residue/Wood burning     40
3 Marsh gas                     24
7 Other                          2
Name: cooking_fuel_source, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     1215
1 Yes     483
Name: hyp, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     1671
1 Yes      27
Name: mem_rel_dis, dtype: int64
--------------------------------
self_com_on_health
--------------------------------
3 Fair         829
4 Poor         344
2 Good         290
1 Very good    148
5 Very poor     87
Name: self_com_on_health, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     1133
1 Yes     565
Name: rheumatism, dtype: int64
--------------------------------
lung_dis
--------------------------------
2 No     1532
1 Yes     166
Name: lung_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     1648
1 Yes      50
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     1355
1 Yes     343
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
1 Inside toilet with water               568
4 Outside public toilet without water    507
5 Open-air                               430
3 Outside toilet with water              123
2 Inside toilet without water             70
Name: main_toilet_type, dtype: int64
--------------------------------
sewage_sys
--------------------------------
1 Yes    1081
2 No      617
Name: sewage_sys, dtype: int64
--------------------------------
waste_management
--------------------------------
1 Moved away by truck       1277
2 Buried in this village     155
5 Do not manage              142
3 Burn away                  124
Name: waste_management, dtype: int64
--------------------------------
road_type
--------------------------------
1 Paved road                   1381
3 Sand-stone road               187
2 Pathway/Dirt/unpaved road     130
Name: road_type, dtype: int64
--------------------------------
id---1082592
communityID
--------------------------------
540541     177
1082592    101
1082593     86
1051022     86
563021      72
1051021     67
1940371     62
1940372     62
104462      60
896763      60
896762      54
1940373     54
1053813     51
1040041     50
146431      47
940042      46
140311      46
140512      45
1053811     44
146432      38
563022      38
104461      37
563463      35
1051023     34
563462      33
1040043     32
140313      32
3452333     31
940041      31
140511      27
1040042     26
3477633     24
940043      10
Name: communityID, dtype: int64
--------------------------------
province
--------------------------------
ÄÚÃÉ¹Å×ÔÖÎÇø        577
ËÄ´¨Ê¡              355
ÔÆÄÏÊ¡              332
Ìì½ò                178
ÐÂ½®Î¬Îá¶û×ÔÖÎÇø    114
±±¾©                 87
¹óÖÝÊ¡               55
Name: province, dtype: int64
--------------------------------
city
--------------------------------
ºôÂ×±´¶ûÊÐ              187
ÐË°²ÃË                  187
Ìì½ò                    178
ÒË±öÊÐ                  178
³É¶¼ÊÐ                  177
À¥Ã÷ÊÐ                  150
°¢¿ËËÕµØÇø              114
ºôºÍºÆÌØÊÐ              108
ÕÑÍ¨ÊÐ                   97
³à·åÊÐ                   95
±±¾©                     87
ÁÙ²×ÊÐ                   85
Ç­ÄÏ²¼ÒÀ×åÃç×å×ÔÖÎÖÝ     55
Name: city, dtype: int64
--------------------------------
urban_nbs
--------------------------------
Urban    1698
Name: urban_nbs, dtype: int64
--------------------------------
age_cal
--------------------------------
47.0    98
49.0    94
48.0    89
46.0    87
57.0    80
58.0    74
56.0    73
54.0    64
51.0    63
53.0    60
65.0    59
50.0    57
60.0    55
59.0    50
45.0    49
64.0    46
61.0    46
62.0    44
52.0    44
55.0    38
69.0    37
63.0    34
71.0    28
75.0    27
70.0    27
66.0    27
67.0    25
44.0    23
68.0    23
74.0    21
72.0    18
77.0    17
73.0    17
76.0    17
78.0    15
43.0    11
83.0    10
40.0     8
79.0     7
80.0     6
42.0     6
81.0     4
82.0     4
88.0     3
84.0     2
35.0     2
41.0     2
34.0     2
33.0     1
39.0     1
89.0     1
90.0     1
38.0     1
Name: age_cal, dtype: int64
--------------------------------
has_running_water
--------------------------------
1 Yes    1122
2 No      576
Name: has_running_water, dtype: int64
--------------------------------
inhouse_shower_Bath
--------------------------------
3 No                                         766
2 Water heater installed by the household    741
2 Water Heater Installed by The Household    127
3.0                                           41
1 Hot water provided                          19
1 Hot Water Provided                           4
Name: inhouse_shower_Bath, dtype: int64
--------------------------------
cooking_fuel_source
--------------------------------
5 Electric                     433
2 Natural gas                  415
6 crop residue/Wood burning    298
4 Liquefied Petroleum Gas      194
1 Coal                         185
2 Natural Gas                   55
6 Crop Residue/Wood Burning     52
6 Crop residue/Wood burning     40
3 Marsh gas                     24
7 Other                          2
Name: cooking_fuel_source, dtype: int64
--------------------------------
hyp
--------------------------------
2 No     1215
1 Yes     483
Name: hyp, dtype: int64
--------------------------------
mem_rel_dis
--------------------------------
2 No     1671
1 Yes      27
Name: mem_rel_dis, dtype: int64
--------------------------------
self_com_on_health
--------------------------------
3 Fair         829
4 Poor         344
2 Good         290
1 Very good    148
5 Very poor     87
Name: self_com_on_health, dtype: int64
--------------------------------
rheumatism
--------------------------------
2 No     1133
1 Yes     565
Name: rheumatism, dtype: int64
--------------------------------
lung_dis
--------------------------------
2 No     1532
1 Yes     166
Name: lung_dis, dtype: int64
--------------------------------
liver_dis
--------------------------------
2 No     1648
1 Yes      50
Name: liver_dis, dtype: int64
--------------------------------
stomach_dis
--------------------------------
2 No     1355
1 Yes     343
Name: stomach_dis, dtype: int64
--------------------------------
main_toilet_type
--------------------------------
1 Inside toilet with water               568
4 Outside public toilet without water    507
5 Open-air                               430
3 Outside toilet with water              123
2 Inside toilet without water             70

Formatting Data

In [84]:
data.columns

Index(['Year', 'ID', 'HouseHoldID', 'communityID', 'province', 'city',
       'urban_nbs', 'age_cal', 'has_running_water', 'inhouse_shower_Bath',
       'cooking_fuel_source', 'self_com_on_health', 'hyp', 'mem_rel_dis',
       'rheumatism', 'lung_dis', 'liver_dis', 'stomach_dis',
       'main_toilet_type', 'sewage_sys', 'road_type', 'waste_management'],
      dtype='object')

In [38]:
new_data = data

In [39]:
new_data["inhouse_shower_Bath"].replace(['2 Water heater installed by the household','2 Water Heater Installed by The Household' ], 'Water heater installed by the household', inplace = True) 

new_data["inhouse_shower_Bath"].replace(['3 No','3.0'], 'No', inplace = True)

new_data["inhouse_shower_Bath"].replace(['1 Hot water provided', '1 Hot Water Provided'], 'Hot water provided', inplace = True) 

new_data["inhouse_shower_Bath"].value_counts()

Water heater installed by the household    868
No                                         807
Hot water provided                          23
Name: inhouse_shower_Bath, dtype: int64

In [40]:
new_data["road_type"].value_counts()

1 Paved road                   1381
3 Sand-stone road               187
2 Pathway/Dirt/unpaved road     130
Name: road_type, dtype: int64

In [41]:
new_data["road_type"].replace(['1 Paved road'], 'Paved road', inplace = True) 

new_data["road_type"].replace(['2 Pathway/Dirt/unpaved road'], 'Pathway/Dirt/unpaved road', inplace = True)

new_data["road_type"].replace(['3 Sand-stone road'], 'Sand-stone road', inplace = True) 

new_data["road_type"].value_counts()

Paved road                   1381
Sand-stone road               187
Pathway/Dirt/unpaved road     130
Name: road_type, dtype: int64

In [42]:
new_data["waste_management"].replace(['1 Moved away by truck'], 'Moved away by truck', inplace = True) 

new_data["waste_management"].replace(['2 Buried in this village'], 'Buried in this village', inplace = True)

new_data["waste_management"].replace(['5 Do not manage'], 'Do not manage', inplace = True) 

new_data["waste_management"].replace(['3 Burn away'], 'Burn away', inplace = True)

new_data["waste_management"].value_counts()

Moved away by truck       1277
Buried in this village     155
Do not manage              142
Burn away                  124
Name: waste_management, dtype: int64

In [43]:
new_data["main_toilet_type"].replace(['1 Inside toilet with water'], 'Inside toilet with water', inplace = True) 

new_data["main_toilet_type"].replace(['4 Outside public toilet without water'], 'Outside public toilet without water', inplace = True)

new_data["main_toilet_type"].replace(['5 Open-air'], 'Open-air', inplace = True) 

new_data["main_toilet_type"].replace(['3 Outside toilet with water'], 'Outside toilet with water', inplace = True)

new_data["main_toilet_type"].replace(['2 Inside toilet without water'], 'Inside toilet without water', inplace = True)
new_data["main_toilet_type"].value_counts()

Inside toilet with water               568
Outside public toilet without water    507
Open-air                               430
Outside toilet with water              123
Inside toilet without water             70
Name: main_toilet_type, dtype: int64

In [44]:
new_data["cooking_fuel_source"].replace(['2 Natural gas', '2 Natural Gas'], 'Natural Gas', inplace = True) 

new_data["cooking_fuel_source"].replace(['5 Electric'], 'Electric', inplace = True)

new_data["cooking_fuel_source"].replace(['1 Coal'], 'Coal', inplace = True) 

new_data["cooking_fuel_source"].replace(['4 Liquefied Petroleum Gas'], 'Liquefied Petroleum Gas', inplace = True)

new_data["cooking_fuel_source"].replace(['6 Crop Residue/Wood Burning', '6 Crop residue/Wood burning','6 crop residue/Wood burning'], 'Crop residue/Wood burning', inplace = True)

new_data["cooking_fuel_source"].replace(['3 Marsh gas'], 'Marsh gas', inplace = True)

new_data["cooking_fuel_source"].replace(['7 Other'], 'Other', inplace = True)

new_data["cooking_fuel_source"].value_counts()

Natural Gas                  470
Electric                     433
Crop residue/Wood burning    390
Liquefied Petroleum Gas      194
Coal                         185
Marsh gas                     24
Other                          2
Name: cooking_fuel_source, dtype: int64

In [45]:
new_data["self_com_on_health"].replace(['3 Fair'], 'Fair', inplace = True) 

new_data["self_com_on_health"].replace(['4 Poor'], 'Poor', inplace = True)

new_data["self_com_on_health"].replace(['2 Good'], 'Good', inplace = True) 

new_data["self_com_on_health"].replace(['1 Very good'], 'Very good', inplace = True)

new_data["self_com_on_health"].replace(['5 Very poor'], 'Very poor', inplace = True)


new_data["self_com_on_health"].value_counts()

Fair         829
Poor         344
Good         290
Very good    148
Very poor     87
Name: self_com_on_health, dtype: int64

In [46]:
new_data["sewage_sys"].replace(['1 Yes'], 'Yes', inplace = True)

new_data["sewage_sys"].replace(['2 No'], 'No', inplace = True)
new_data["sewage_sys"].value_counts()

Yes    1081
No      617
Name: sewage_sys, dtype: int64

In [47]:
new_data["liver_dis"].replace(['1 Yes'], 'Yes', inplace = True)

new_data["liver_dis"].replace(['2 No'], 'No', inplace = True)
new_data["liver_dis"].value_counts()

No     1648
Yes      50
Name: liver_dis, dtype: int64

In [48]:
new_data["lung_dis"].replace(['1 Yes'], 'Yes', inplace = True)

new_data["lung_dis"].replace(['2 No'], 'No', inplace = True)
new_data["lung_dis"].value_counts()

No     1532
Yes     166
Name: lung_dis, dtype: int64

In [49]:
new_data["stomach_dis"].replace(['1 Yes'], 'Yes', inplace = True)

new_data["stomach_dis"].replace(['2 No'], 'No', inplace = True)
new_data["stomach_dis"].value_counts()

No     1355
Yes     343
Name: stomach_dis, dtype: int64

In [50]:
new_data["hyp"].replace(['1 Yes'], 'Yes', inplace = True)

new_data["hyp"].replace(['2 No'], 'No', inplace = True)
new_data["hyp"].value_counts()

No     1215
Yes     483
Name: hyp, dtype: int64

In [51]:
new_data["rheumatism"].replace(['1 Yes'], 'Yes', inplace = True)

new_data["rheumatism"].replace(['2 No'], 'No', inplace = True)
new_data["rheumatism"].value_counts()

No     1133
Yes     565
Name: rheumatism, dtype: int64

In [52]:
new_data["mem_rel_dis"].replace(['1 Yes'], 'Yes', inplace = True)

new_data["mem_rel_dis"].replace(['2 No'], 'No', inplace = True)
new_data["mem_rel_dis"].value_counts()

No     1671
Yes      27
Name: mem_rel_dis, dtype: int64

In [54]:
new_data["has_running_water"].replace(['1 Yes'], 'Yes', inplace = True)

new_data["has_running_water"].replace(['2 No'], 'No', inplace = True)
new_data["has_running_water"].value_counts()

Yes    1122
No      576
Name: has_running_water, dtype: int64

In [55]:
new_data

,Year,ID,HouseHoldID,communityID,province,city,urban_nbs,age_cal,has_running_water,inhouse_shower_Bath,...,hyp,mem_rel_dis,rheumatism,lung_dis,liver_dis,stomach_dis,main_toilet_type,sewage_sys,road_type,waste_management
5,2011,9400410301,94004103,940041,±±¾©,±±¾©,Urban,77.0,Yes,Water heater installed by the household,...,Yes,No,No,No,No,No,Outside toilet with water,Yes,Paved road,Moved away by truck
11,2011,9400410501,94004105,940041,±±¾©,±±¾©,Urban,58.0,Yes,No,...,No,No,No,No,No,No,Outside toilet with water,Yes,Paved road,Moved away by truck
13,2011,9400410502,94004105,940041,±±¾©,±±¾©,Urban,59.0,Yes,No,...,No,No,No,No,No,No,Outside toilet with water,Yes,Paved road,Moved away by truck
16,2011,9400410801,94004108,940041,±±¾©,±±¾©,Urban,73.0,Yes,Water heater installed by the household,...,Yes,No,No,No,No,No,Outside toilet with water,Yes,Paved road,Moved away by truck
17,2011,9400410901,94004109,940041,±±¾©,±±¾©,Urban,53.0,Yes,Water heater installed by the household,...,No,No,Yes,No,No,No,Outside toilet with water,Yes,Paved road,Moved away by truck
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22996,2015,56302222001,563022220,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,54.0,Yes,No,...,Yes,No,No,No,No,No,Inside toilet with water,Yes,Paved road,Burn away
22999,2015,56302222001,563022220,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,54.0,Yes,No,...,No,No,No,No,No,No,Inside toilet with water,Yes,Paved road,Burn away
23000,2015,56302222001,563022220,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,54.0,Yes,No,...,Yes,No,No,No,No,No,Inside toilet with water,Yes,Paved road,Burn away
23159,2015,56302219001,563022190,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,60.0,Yes,No,...,Yes,No,Yes,No,No,Yes,Inside toilet with water,Yes,Paved road,Burn away
23163,2015,56302219001,563022190,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,60.0,Yes,No,...,Yes,No,Yes,No,No,Yes,Inside toilet with water,Yes,Paved road,Burn away

Encoding

In [56]:
new_data["self_com_on_health"].value_counts()

Fair         829
Poor         344
Good         290
Very good    148
Very poor     87
Name: self_com_on_health, dtype: int64

Adding a new Column as health Status with the coding below, Here, 1 means healthy and 0 mean unhealthy.

In [57]:
new_data["health_status"] = new_data["self_com_on_health"].map({'Fair': 0,          
'Poor': 0,         
'Good': 1,          
'Very good':1,   
'Very poor': 0, })

In [58]:
new_data

,Year,ID,HouseHoldID,communityID,province,city,urban_nbs,age_cal,has_running_water,inhouse_shower_Bath,...,mem_rel_dis,rheumatism,lung_dis,liver_dis,stomach_dis,main_toilet_type,sewage_sys,road_type,waste_management,health_status
5,2011,9400410301,94004103,940041,±±¾©,±±¾©,Urban,77.0,Yes,Water heater installed by the household,...,No,No,No,No,No,Outside toilet with water,Yes,Paved road,Moved away by truck,0
11,2011,9400410501,94004105,940041,±±¾©,±±¾©,Urban,58.0,Yes,No,...,No,No,No,No,No,Outside toilet with water,Yes,Paved road,Moved away by truck,1
13,2011,9400410502,94004105,940041,±±¾©,±±¾©,Urban,59.0,Yes,No,...,No,No,No,No,No,Outside toilet with water,Yes,Paved road,Moved away by truck,1
16,2011,9400410801,94004108,940041,±±¾©,±±¾©,Urban,73.0,Yes,Water heater installed by the household,...,No,No,No,No,No,Outside toilet with water,Yes,Paved road,Moved away by truck,0
17,2011,9400410901,94004109,940041,±±¾©,±±¾©,Urban,53.0,Yes,Water heater installed by the household,...,No,Yes,No,No,No,Outside toilet with water,Yes,Paved road,Moved away by truck,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22996,2015,56302222001,563022220,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,54.0,Yes,No,...,No,No,No,No,No,Inside toilet with water,Yes,Paved road,Burn away,0
22999,2015,56302222001,563022220,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,54.0,Yes,No,...,No,No,No,No,No,Inside toilet with water,Yes,Paved road,Burn away,0
23000,2015,56302222001,563022220,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,54.0,Yes,No,...,No,No,No,No,No,Inside toilet with water,Yes,Paved road,Burn away,0
23159,2015,56302219001,563022190,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,60.0,Yes,No,...,No,Yes,No,No,Yes,Inside toilet with water,Yes,Paved road,Burn away,0
23163,2015,56302219001,563022190,563022,ËÄ´¨Ê¡,ÒË±öÊÐ,Urban,60.0,Yes,No,...,No,Yes,No,No,Yes,Inside toilet with water,Yes,Paved road,Burn away,0

In [60]:
new_data.to_csv("./cleaned_data.csv", index = False)

Before Encoding , we want to get the cleaned data and take only those with age >= 60

In [66]:
work_data = pd.read_csv("./cleaned_data.csv")
above_60 = work_data[work_data["age_cal"] >= 60]
above_60.to_csv("./cleaned_data_above60.csv", index= False)

Encoding

In [62]:
above_60["inhouse_shower_Bath"].value_counts()

Water heater installed by the household    335
No                                         275
Hot water provided                          11
Name: inhouse_shower_Bath, dtype: int64

In [63]:
mapping = {'Yes': 1, 'No': 0}
mapping_comment_on_health = {
'Fair': 3,          
'Poor': 4,         
'Good': 2,          
'Very good':1,   
'Very poor': 5, 
}

mapping_cooking_fuel ={ 
'Natural Gas': 5,                 
'Electric': 2,                       
'Coal': 6,                        
'Liquefied Petroleum Gas': 3,         
'Crop residue/Wood burning'  : 1,                         
'Marsh gas': 4,                   
}

mapping_main_toilet_type = {
'Inside toilet with water': 5,                
'Open-air'    : 1,                           
'Outside public toilet without water': 2,     
'Outside toilet with water': 3,          
'Inside toilet without water': 4,         
}

mapping_waste_management = {
'Moved away by truck': 5,        
'Buried in this village': 3,     
'Do not manage' : 1,            
'Burn away' : 2,                   
}

mapping_road_type = {
'Paved road': 3,                    
'Pathway/Dirt/unpaved road': 2,     
'Sand-stone road': 1,                
}
     
mapping_inhouse_shower_Bath = {
'Water heater installed by the household' : 2,    
'No': 1,                                        
'Hot water provided' : 3,                     
}
                                           
data_new = above_60
sewage_encode = data_new["sewage_sys"].map(mapping)
stomach_dis_encode = data_new["stomach_dis"].map(mapping)
liver_dis_encode = data_new["liver_dis"].map(mapping)
lung_dis_encode = data_new["lung_dis"].map(mapping)
self_com_on_health_encode =  data_new["self_com_on_health"].map(mapping_comment_on_health)
rheumatism_encode =  data_new["rheumatism"].map(mapping)
cooking_fuel_source_encode = data_new["cooking_fuel_source"].map(mapping_cooking_fuel)
mem_rel_encode =  data_new["mem_rel_dis"].map(mapping)
road_type_encode =  data_new["road_type"].map(mapping_road_type)
waste_management_encode =  data_new["waste_management"].map(mapping_waste_management)
main_toilet_type_encode =  data_new["main_toilet_type"].map(mapping_main_toilet_type)
inhouse_shower_Bath_encode =  data_new["inhouse_shower_Bath"].map(mapping_inhouse_shower_Bath)
hyp_encode = data_new["hyp"].map(mapping)
has_running_water_encode = data_new["has_running_water"].map(mapping)

In [64]:
# Sanitation
coded_data = pd.DataFrame()
coded_data["Year"] = above_60["Year"]
coded_data["province"] = above_60["province"]
coded_data["city"] = above_60["city"]
coded_data["communityID"] = above_60["communityID"]
coded_data["road_type"] = road_type_encode
coded_data["sewage_sys"] = sewage_encode
coded_data["main_toilet_type"] = main_toilet_type_encode
coded_data["cooking_fuel_source"] = cooking_fuel_source_encode
coded_data["has_running_water"] = has_running_water_encode
coded_data["inhouse_shower_Bath"] = inhouse_shower_Bath_encode
coded_data["waste_management"] = waste_management_encode
# Health
coded_data["stomach_dis"] = stomach_dis_encode
coded_data["liver_dis"] = liver_dis_encode
coded_data["lung_dis"] = lung_dis_encode
coded_data["rheumatism"] = rheumatism_encode
coded_data["mem_rel_dis"] = mem_rel_encode
coded_data["hyp"] = hyp_encode
coded_data["self_com_on_health"] = self_com_on_health_encode
coded_data["health_status"] = above_60["health_status"]

coded_data.isna().sum()
coded_data
coded_data.to_csv("./coded_data.csv", index=False)